/* Gallery */
.ce-gallery img												{display: block;	max-width: 100%;	height: auto;	width: 100%;}

.ce-border,
.ce-border img												{margin: 0 !important;}
	
.ce-center .ce-outer										{position: relative; float: right; right: 50%;}
.ce-center .ce-inner										{position: relative; float: right; right: -50%;}
 
.ce-gallery img												{display: block; height: auto}
.ce-border img												{border: $borderWidth solid $borderColor; padding: $borderPadding;}
.ce-align-left												{text-align: left;}
.ce-align-center											{text-align: center;}
.ce-align-right												{text-align: right;}
	
.ce-table td, .ce-table th									{vertical-align: top;}
	
.ce-gallery iframe											{border-width: 0;}
.ce-border iframe											{border: $borderWidth solid $borderColor; padding: $borderPadding;}
	
.ce-gallery figure											{display: block;}
.ce-gallery figcaption										{display: block; font-style: italic; padding: $v1 $v2 }

.ce-textpic, .ce-image, .ce-nowrap .ce-bodytext, 
.ce-gallery, .ce-row, .ce-uploads li, .ce-uploads div		{overflow: hidden;}
		
.ce-intext.ce-right .ce-gallery, .ce-intext.ce-left .ce-gallery {margin-bottom: 0;}
.ce-above .ce-gallery										{margin-bottom: $v3;}

.ce-intext.ce-right .ce-gallery								{margin-left: $v3;}
.ce-intext.ce-left .ce-gallery								{margin-right: $v3;}
.ce-below .ce-gallery										{margin-top: $v3;}
	
.ce-column:last-child										{margin-right: 0;}
	
.ce-row														{margin-bottom: $v3;}
.ce-row:last-child											{margin-bottom: 0;}
	
.ce-left .ce-gallery, .ce-column							{float: left;}
.ce-right .ce-gallery										{float: right;}
	
.ce-above .ce-bodytext										{clear: both;}
.ce-intext.ce-left ol, .ce-intext.ce-left ul				{padding-left: $v5; overflow: auto;}
	
.ce-textpic > *.above										{clear: both}		

/* Text align */
.ce-headline-center											{text-align: center;}
.ce-headline-right											{text-align: right;}
 
 
/* Margin & Padding */
.frame-space-before-1										{margin-top: $v1;}
.frame-space-before-2										{margin-top: $v2;}
.frame-space-before-3 										{margin-top: $v3;}
.frame-space-before-4										{margin-top: $v4;}
.frame-space-before-5										{margin-top: $v5;}
.frame-space-before-6										{margin-top: $v6;}
.frame-space-before-7										{margin-top: $v7;}

.frame-space-after-1										{margin-bottom: $v1;}
.frame-space-after-2										{margin-bottom: $v2;}
.frame-space-after-3 										{margin-bottom: $v3;}
.frame-space-after-4										{margin-bottom: $v4;}
.frame-space-after-5										{margin-bottom: $v5;}
.frame-space-after-6										{margin-bottom: $v6;}
.frame-space-after-7										{margin-bottom: $v7;}

.frame-padding-before-1										{padding-top: $v1;}
.frame-padding-before-2										{padding-top: $v2;}
.frame-padding-before-3 									{padding-top: $v3;}
.frame-padding-before-4										{padding-top: $v4;}
.frame-padding-before-5										{padding-top: $v5;}
.frame-padding-before-6										{padding-top: $v6;}
.frame-padding-before-7										{padding-top: $v7;}

.frame-padding-after-1										{padding-bottom: $v1;}
.frame-padding-after-2										{padding-bottom: $v2;}
.frame-padding-after-3 										{padding-bottom: $v3;}
.frame-padding-after-4 										{padding-bottom: $v4;}
.frame-padding-after-5										{padding-bottom: $v5;}
.frame-padding-after-6										{padding-bottom: $v6;}
.frame-padding-after-7										{padding-bottom: $v7;}
