ul.ohne													{list-style-type: none; padding-left: 0rem;}
ul.dash													{list-style-type: none; padding-left: 2rem;}
ul.square												{list-style-type: square;}
ul.symbols												{list-style-type: none; padding-left: 2rem;}


ol.decimal												{list-style-type:decimal;}
ol.roman												{list-style-type:upper-roman;}
ol.greek												{list-style-type:lower-greek;}
ol.lower-alpha											{list-style-type:lower-alpha;}

a.link-internal::before									{color: $baseLinkColor; content:'\F0A9'; font-family: $symbol; text-indent: 0; display: inline-block; padding-right: $v15;}
a.link-internal-blank::before,
a.link-external-blank::before,
a.link-external::before									{color: $baseLinkColor; content:'\F08E'; font-family: $symbol; text-indent: 0; display: inline-block; padding-right: $v15;}
a.link-mail::before										{color: $baseLinkColor; content:'\F1fa'; font-family: $symbol; text-indent: 0; display: inline-block; padding-right: $v15;}
a.link-download::before									{color: $baseLinkColor; content:'\F019'; font-family: $symbol; text-indent: 0; display: inline-block; padding-right: $v15;} 
a.link-web::before										{color: $baseLinkColor; content:'\F0AC'; font-family: $symbol; text-indent: 0; display: inline-block; padding-right: $v15;} 
a.link-fax::before										{color: $baseLinkColor; content:'\F1AC'; font-family: $symbol; text-indent: 0; display: inline-block; padding-right: $v15;}
a.link-phone::before									{color: $baseLinkColor; content:'\F095'; font-family: $symbol; text-indent: 0; display: inline-block; padding-right: $v15;}
a.link-mobil::before									{color: $baseLinkColor; content:'\F10b'; font-family: $symbol; text-indent: 0; display: inline-block; padding-right: $v15;}
a.link-folder::before									{color: $baseLinkColor; content:'\F07b'; font-family: $symbol; text-indent: 0; display: inline-block; padding-right: $v15;}
a.link-info::before										{color: $baseLinkColor; content:'\F05a'; font-family: $symbol; text-indent: 0; display: inline-block; padding-right: $v15;}
a.link-web::before										{color: $baseLinkColor; content:'\F0ac'; font-family: $symbol; text-indent: 0; display: inline-block; padding-right: $v15;}


ul.dash li:before										{content: '\2014'; width: 1rem;  margin-left: -2rem; display: inline-block; margin-right: 1rem; }

ul.symbols a.link-info::before,
ul.symbols a.link-internal::before,
ul.symbols a.link-internal-blank::before,
ul.symbols a.link-external-blank::before,
ul.symbols a.link-external::before,
ul.symbols a.link-mail::before,
ul.symbols a.link-web::before,
ul.symbols a.link-fax::before,
ul.symbols a.link-phone::before,
ul.symbols a.link-mobil::before,
ul.symbols a.link-download::before						{margin-left:  $-v4; padding: 0; padding-left: $v1; width: $v4; padding-right: $v45;}


ul.ohne													{padding-left: 0;}

.frame-type-menu_subpages li a::before,
.frame-type-menu_pages li a::before						{color: $baseLinkColor; content:'\F0A9'; font-family: $symbol; text-indent: 0; display: inline-block;}
.frame-noicon	 a.link-download::before				{content:''; }

/* Download in Upload*/
ul.ce-uploads											{list-style-type: none;}