.socialsideright{                     position: fixed; top: 40vH; right: calc(#{$p} *  -5.5); z-index: 3;

  ul.social                           {width: calc(#{$p} *  8) !important; margin: 0; padding: 0; list-style: none; position: relative}
  ul.social li                        {border: 1px solid #666; border-right: 0; height:calc(#{$p} * 2.5); transition: all ease .3s; margin-top: -1px; display: flex; align-items: center; background-color: $totopBgColor; color: $totopLinkColor; }
  ul.social li:last-of-type           {border-bottom: 1px solid #666;}

  ul.social li a                      {color: $totopLinkColor;text-decoration: none;} 

  ul.social li .symbol                {text-align: center; display: flex;  align-items: center; height: calc(#{$p} * 2.5); }
  ul.social li .symbol a              {font-size: 125%; display: block; width: calc(#{$p} * 2.5); text-decoration: none;} 
  
  ul.social li:hover                  {margin-left: calc(#{$p} * -5); color: $totopLinkHoverColor; } 
  
}

.socialsideleft{                      position: fixed; top: 40vH; left: calc(#{$p} * -5.5); z-index: 3;

  ul.social                           {width: calc(#{$p} *  8)  !important; margin: 0; padding: 0; list-style: none; position: relative}
  ul.social li                        {border: 1px solid #666; border-right: 0; flex-direction: row-reverse; height: calc(#{$p} * 2.5);  margin-top: -1px;  transition: all ease .3s; display: flex; align-items: center; background-color: $totopBgColor; color: $totopLinkColor; }
  ul.social li:last-of-type           {border-bottom: 1px solid #666;}


  ul.social li a                      {color: $totopLinkColor; text-decoration: none;}

  ul.social li .symbol                {text-align: center; display: flex;  align-items: center; height: calc(#{$p} * 2.5) ; }
  ul.social li .symbol a              {font-size: 125%; display: block; width: calc(#{$p} * 2.5); text-decoration: none;} 
  
  ul.social li:hover                  {margin-right: calc(#{$p} * -5); color: $totopLinkHoverColor; text-decoration: none;} 
  
}

@media screen and (max-width: 991px) {
	
	ul.socialbottom span.socialtext	{display: none}
	ul.socialbottom span.symbol a	{padding-right: calc(#{$p} * .5); padding-top: calc(#{$p} * .5);}	
	.socialsideright				{display: none}
	.socialsideleft					{display: none}
	
}