/* Styles For Tables ************************************************************************************************/

.ce-table  {                                                      width: 100%; max-width: 100%; 
    td,
    th                                                            {padding:  0.25rem  0.25rem 0.25rem 1rem; vertical-align: top; border-top: 1px solid $tableLineColor; } 
    th                                                            {background-color: $tableHeader; color: $tableHeaderColor; }          
    thead th                                                      {border-bottom: 2px solid $tableHeaderLineColor;}
    label                                                         {margin-bottom: 0;}
    p                                                             {margin: 0;}   
    
}

   /* Layouts */
   .ce-table-bordered th, .ce-table-bordered td                   {border: 1px solid $tableHeaderLineColor;}
