<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:mf="http://typo3.org/ns/MiniFranske/FsMediaGallery/ViewHelpers">

	<!--
	 Displays a flattened, one-dimensional album list
	-->

	<f:section name="AlbumsList">
		<div class="albums-list">
			<f:render partial="AlbumsPagination" contentAs="content" arguments="{pagination: mediaAlbumsPagination, mediaAlbum: mediaAlbum}">
				<f:if condition="{mediaAlbumsPagination.paginator.paginatedItems}">
					<f:then>
						<div class="thumbs thumbs-albums">
							<f:for each="{mediaAlbumsPagination.paginator.paginatedItems}" as="pagedMediaAlbum">
								<f:render section="AlbumPreview" arguments="{mediaAlbum:pagedMediaAlbum}" />
							</f:for>
						</div>
					</f:then>
					<f:else>
						<div class="alert alert-info">
							<p><f:translate key="no_albums_found">No albums found.</f:translate></p>
						</div>
					</f:else>
				</f:if>
			</f:render>
		</div>
	</f:section>

	<f:section name="AlbumPreview">
		<f:if condition="{0:0, 1:1} == {0:mediaAlbum.assetsCount, 1:settings.list.hideEmptyAlbums}">
			<f:else>
				<div class="img-thumbnail">
					<f:render partial="MediaAlbum/Thumb" section="Thumb" arguments="{mediaAlbum:mediaAlbum, random:settings.list.thumb.random, width:settings.list.thumb.width, height:settings.list.thumb.height, resizeMode:settings.list.thumb.resizeMode}" />
				</div>
			</f:else>
		</f:if>
	</f:section>

</div>
