<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
        <div class="page {pagecolor}" id="top">
            <f:cObject typoscriptObjectPath="lib.access" />          
            <f:render section="Content" optional="TRUE" />
            <footer id="footer" role="contentinfo">  
                <f:cObject typoscriptObjectPath="lib.footer" />
                <f:cObject typoscriptObjectPath="lib.topscroll" />
            </footer>
            <f:cObject typoscriptObjectPath="lib.social" />
            <f:cObject typoscriptObjectPath="lib.navigation.sideAnker" />
      </div>  
</html>       