<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default"/>
	<f:spaceless>
		<f:section name="Main">
            <f:render partial="Header.html" section="Header" arguments="{_all}" />
            <main id="content">  
                <div class="overlay"></div> 
                <f:format.raw>{media}</f:format.raw>
                <!--TYPO3SEARCH_begin--> 
			       <f:format.raw>{content}</f:format.raw>
			    <!--TYPO3SEARCH_end-->    
			</main>    
		</f:section>
	</f:spaceless>
</html>
