<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"  data-namespace-typo3-fluid="true">

    <f:section name="content">
         <f:if condition="{breadcrumb} != '1'">
              <f:if condition="{breadcrumbstyle} == 0"></f:if> 
              <f:if condition="{breadcrumbstyle} == 1">          
                 <f:render partial="SpecialMenu/BreadcrumbMenu" arguments="{_all}"/>                    
              </f:if>  
              <f:if condition="{breadcrumbstyle} == 2">   
                  <f:cObject typoscriptObjectPath="lib.navigation.breadcrumbxl" />  
              </f:if>                      
         </f:if>
    </f:section>
    
</html>