
main .tx-felogin-pi1 .inputs                        {padding: 15px;}

.tx-indexedsearch-redMarkup                         {color: $success;}


.tx-indexedsearch-res                               {transition: all ease .3s; border-top: 1px solid #dadada; padding: 1rem;}
.tx-indexedsearch-res:hover                         {background: #fff;} 



ul.tx-indexedsearch-browsebox                       {display: flex; padding-left: 0; list-style: none; border-radius: .25rem; margin: 1rem 0;}

ul.tx-indexedsearch-browsebox li a                  {position: relative; display: block; padding: .25rem .5rem; font-size: 0.875em;
                                                    margin-left: -1px; line-height: 1rem; color: $baseColor; background-color: #fff; border: 1px solid #ddd;}
                                                                        
ul.tx-indexedsearch-browsebox li a:hover            {background-color: #F3F4F4; color: $baseLinkHoverColor}

ul.tx-indexedsearch-browsebox li.tx-indexedsearch-browselist-currentPage a {position: relative; display: block; padding: .25rem .5rem; font-size: 0.875em;
                                                          margin-left: -1px; line-height: 1rem; color: #fff !important; background-color: $baseColor;}



