ul.jpfaqList{                                               margin: 0; padding: 0; list-style: none;
    li                                                      {transition: all ease .3s;position: relative; }

    li p                                                    {margin: 0;}
    
    .toggleTriggerContainer                                 {display: none;}
    .jpfaqAnswer                                            {background: rgba(255,255,255,1); padding: .66rem 1rem; border-bottom: 1px solid #ccc; margin-bottom: .5rem;}

    span.accordion-button                                   {font-weight: bold; color:$baseColor; display: flex; align-content: space-between; align-items: center; font-size: 125%; }
    span.accordion-button::after                            {content:$plus; font-weight: normal !important;  transition: all ease .3s;   font-size: 125%;   background-color: #dadada;   padding: 1rem .6rem;  color: #333;}

  .questionUnfolded                                         {border-bottom: 1px solid #dee2e6;}
  .questionUnfolded  span.accordion-button::after           {content:$minus;  transform: rotate(-180deg);}
  
  .accordion-item .accordion-header > span                  {border-top: 0;  padding-left: calc(var(--bs-gutter-x) / 2); background-color: #fff; border: 1px solid #dee2e6; border-bottom: 0;}
  .accordion-item:first-of-type .accordion-header  > span   {border-radius: 5px 5px 0 0;}  
  .accordion-item:last-of-type .accordion-header > span.collapsed    {border-radius: 0 0 5px 5px;  border-bottom: 1px solid #dee2e6;}  
  
   .toggleTriggerContainer                                   {border-left: 1px solid #dee2e6; border-right: 1px solid #dee2e6;      }
}


.jpfaqAll {                                   padding: .66rem 1rem .66rem 0;  
  > *                                         {cursor: pointer;}
  .jpfaqShowAll:before                        {content:'\F107'; font-family: $symbol; margin-right: .5em;}
  .jpfaqHideAll                               {display: none;}
  .jpfaqHideAll:before                        {content:'\F106'; font-family: $symbol; margin-right: .5em;}
  
}

#jpfaq-filter-count, 
.jpfaqCategory                               {display: none;}


/*     h3                                        {font-site: 1.05rem; margin: 0; transition: all ease .3s;background: rgba(255,255,255,.5); padding: .66rem 2rem .66rem 1rem;  border-bottom: 1px solid #dadada;}
    
    h3:hover,
    h3.questionUnfolded                       {background: rgba(255,255,255,1); }
    h3.questionUnfolded a                     {color: #000; }    
    h3::after                                 {content:'+'; height: auto; display: block; cursor: pointer; font-size: 150%;  padding-top: 0.66rem; color: #666;  
                                              padding-bottom: 0.75rem;  position: absolute;  right: 0; top: 0;  width: 2rem;  text-align: center;   }  
    h3.questionUnfolded::after                {content:'–'; color: #666;color: #000;}
    
    */
