.tx-powermail legend                           {display: none !important;}
.tx-powermail .container-fluid h3              {margin-bottom: 15px;}
.tx-powermail .container-fluid                 {margin: 0; padding: 0; border: 1px solid rgba(204,204,204,1);
                                               padding: 15px; background: rgba(250,250,250,1); margin-bottom: 15px;}
            
            
.tx-powermail .col-form-label-sm  label        {font-size: 1rem;}                               
.tx-powermail .powermail_fieldwrap_type_reset  {float: left; margin-right: 30px;}