.tx_solr .searchinfo { margin: 1rem 0;}

.tx_solr .search-result {
    margin-bottom: .75rem;
}

.tx_solr .prefixgroup-tabs a {
    padding-left: 1px!important;
    padding-right: 2px!important;
    font-size: smaller;
}

.tx_solr .btn-circle {
    height: 24px;
    text-align: center;
    padding: 3px 3px;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
    border-color: #ddd;
}

.tx_solr .facet-type-hierarchy .list-group-item {
    padding-left: 10px!important;
    padding-right: 0px!important;
}

.tx_solr .query-debug {
    font-size: 12px;
}

.results-highlight {
    background: #fdee53;
}


.facets .list-group-item				{display: flex;  justify-content: space-between !important;}
.facets .facet							{margin-bottom: 1rem;;}







.tx-solr-autosuggest { border: 1px solid #CCC; background: #FFF; overflow: auto; }
.tx-solr-autosuggest strong { font-weight: bold; color: rgb(0, 47, 234); }
.tx-solr-autosuggest .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.tx-solr-autosuggest .autocomplete-selected { background: #efefef; }
.tx-solr-autosuggest .autocomplete-group { padding: 10px 5px; }
.tx-solr-autosuggest .autocomplete-group strong { display: block; border-bottom: 1px solid #999; }



.progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image:      -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f5f5f5));
  background-image:         linear-gradient(to bottom, #ccc 0%, #bbb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
  background-repeat: repeat-x;
}

.progress-bar {
	height: 5px;
  background-image: -webkit-linear-gradient(top, #337ab7 0%, #286090 100%);
  background-image:      -o-linear-gradient(top, #337ab7 0%, #286090 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#286090));
  background-image:         linear-gradient(to bottom, #337ab7 50%, #286090 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff286090', GradientType=0);
  background-repeat: repeat-x;
}