html[color-mode=contrast] {


    $TextColor:                 #151515;
    $Bgbody:                    #fff;

    $LinkColor:                 rgb(30, 30, 30);  
    $LinkHoverColor:            rgb(0, 0, 0);     
    
    $footerTextColor:           #222222;     
    $footerTexthoverColor:      #000000;         
    $footer1BgColor:            #efefef; 
    
    $totopLinkColor:            #efefef;
    $subnavLinkHoverColor:      #fff;



    body { background: #f0f;  color: #000  ;
        
        
    }




}

