* { margin:0; padding:0; vertical-align:baseline; }
html {width: 100%; height: 100%;}
legend {display: none; visibility: hidden;}
fieldset{border: 0;}

body {width: 21cm; margin: 0; padding: 0; background: #fff; font-family: Arial,sans-serif; }
.logo {padding: 1cm 0 0 0; background: #fff; text-align: right; width: 100%; display: block; }
.logo img{ width: 15em; height: auto}


.print_inhalt{background: #fff; padding: 1cm 2cm 1cm 3cm;}
.print_inhalt .headerimageframe  img{max-width: 100%; height: auto;  position: relative}

.print_inhalt .h1 {margin-bottom: 20px}
.print_inhalt h4 {margin-bottom: 10px}

.print_inhalt .csc-default,
.print_inhalt .kopfbild,
.print_inhalt table,
.print_inhalt .mediaelement,
.print_inhalt .header h1 {margin: 0 0 .5cm 0; }

.print_inhalt_rechts {padding: .5em 0 0 0; border-top: 1px solid #ccc; clear: left;}
.print_inhalt_rechts h1,
.print_inhalt_rechts h2,
.print_inhalt_rechts h3{font-size: 1rem; line-height: 1.4rem; margin: 0  0 .6rem 0; clear: left;}

.print_inhalt h1{font-size: 1.5rem;}
.print_inhalt h2{font-size: 1.25rem; }
.print_inhalt h3{font-size: 1.15em; line-height: 1.4rem; margin: 0  0 .6rem 0; clear: left;}
.print_inhalt h4{font-size: 1.0rem; line-height: 1.4rem; margin: 0  0 .2rem 0; clear: left;}

.print_inhalt o{font-size: 1rem; margin: 0  0 .2rem 0;}

li{font-size: 1rem; line-height: 1.4rem; margin: 0  0 .6em 0; padding: 0 0 0 1rem;}

.print_inhalt li h3,
.print_inhalt li p{font-size: 1rem;} 
table{border-collapse: collapse;}
table th,
table td{padding: .2em .5em;}

ul, ol{padding: 0 0 0 2em;}

a{text-decoration: none; color: #000;}
a:hover{text-decoration: none;}
table tr.odd td{background: #f8f8f8;}
td{font-size: .75rem; border-bottom: 1px solid #ccc}
th{font-size: .75rem; border-bottom: 1px solid #ccc }

img,
.ce-gallery img {width: 100%;}


hr{border: 0; border-top: 1px solid #dadada; color: #999; }

.print_inhalt .ce-textpic {clear: both; display: block; margin: 0 0 1em 0;}
.print_inhalt .ce-bodytext{ margin: 0 }
.print_inhalt .ce-gallery img{float: left; margin: 0 1em .5cm 0; width: 50%; height: auto; }


.news .footer span{font-size: 1.2em; line-height: 1.4em; margin: 0  0 .6em 0; }
.news .teaser-text{font-size: 1.4em; line-height: 1.4em; margin: .6em 0; }
.news .article .news-img-wrap a{background: none; border: 0; margin: 0;}



/* powermail */

.powermail_fieldwrap {display: block; clear: left; margin: 0 0 1em 0;}

.powermail_fieldwrap label{font-size: 1.2em; min-width: 15em; }
.powermail_fieldwrap input{ border: 0; border-bottom: 1px solid dotted; }

/* rechts */


.print_inhalt_rechts ul {list-style-type: none; padding: 0 }

.print_inhalt_rechts ul li{margin: 0; padding: 0;}

ul, ol{padding: 0 0 0 2em;}



/* unten */
.unten{margin: 0 2cm 1cm 3cm; border-top: 1px solid #ccc; color: #999; }
.unten ul{list-style-type: none; padding:.2cm 0 0 0;}
.unten div{padding:.2cm 0 0 0;  font-size: .625rem;}
.unten li{display: inline-block; padding: 0 .5cm 0 0; font-size: .625rem; color: #999;}
.unten li a{color: #999;}
.unten li a:hover{color: #000;}
.unten ul.ort li{display: inline-block; padding: 0; font-size: .625rem; color: #999;}

