.breadcrumbrow {                        				font-size: $breadcrumbtextsize !important; line-height: 100%; color: rgba($textColor, .85); padding: 0;
	  ol                                    			{list-style: none; padding: 0; margin: 0}
	  ol li                                 			{margin:0; display: inline-block; padding: 0 0 0 $v025; font-size: 100% !important; line-height: 100%; }
	  ol li a                               			{color: rgba($textColor, .85); transition: all ease .3s; font-size: 100% !important; line-height: 100%; }
	  ol li a:hover                         			{color: rgba($textColor, 025);}
	  ol li::after                          			{content:'|'; padding: 0 0 0 $v025;} 
	  ol li:last-of-type::after             			{content:'';}  
	  
	 .navbar-nav										{padding: 0; }	
	 .navbar-nav > li									{margin: 0;}		 
	 .navbar-nav > li > ul                   			{box-shadow: $shadow;}
	 .navbar-nav > li > a                               {font-size: 100% !important; color: rgba($textColor, .85) !important;} 
	 .navbar-nav > li > span > a                        {font-size: 100% !important; color: rgba($textColor, .85) !important;}
	
	 /* .navbar-nav > li.act                               {background: rgba($baseColor,.5);}
	 .navbar-nav > li.act > span > a                    {color: #fff !important;} */
	 
	 .navbar-nav > li:after           					{content: '|';padding: 0 0 0 $v050 !important;} 
     .navbar-nav > li:last-of-type::after               {content: ''  !important; padding: 0 !important;}
     .navbar-nav > li> span								{padding: 0 0 0 $v050 !important;} 
     
	 .navbar-nav a.extend 								{display: inline; padding: 0 0 0 $v050 !important;}	
	 .navbar-nav a.extend:after              			{color: $textColor; text-align: center; padding:3px $v025; border: 1px solid $textColor; content:'+'; font-family: $symbol;} /*\F0D7*/
	 .navbar-nav a.extend.show:after         			{content:'–';} /*\F0D8*/
	 
	 .navbar-nav > li:not(.dropdown)::after             {content: '|';padding: 0 0 0 $v050 !important;}
	 
	 .navbar-nav > li:last-of-type::after               {content: ''  !important; padding: 0 !important;}
	 .navbar-nav > span.capital::after                  {content: '|';padding: 0 0 0 $v050 !important;}  
	 
	 .navbar-nav > li.act  a.extend:after              	{color: #fff; border: 1px solid #fff; background: $gray-500; } 
	 .navbar-nav li a.dropdown-item:focus               {background: transparent;} 
	 
	 
	/*.navbar-nav > li.dropdown:after           		{content: '';padding: 0  !important;} */
	.navbar-nav ul li.cur a								{background: $gray-300;}
}

div.breadcrumbtop                                {background: $breadcrumbtop;}