main{																		 
	> .container												{background-color: $baseContainerBgColor;}	
	> .container > .row											{padding: $mainpadding;}	
		
	/* Area Content */
	.content a,
	.contentRight a												{color: $baseLinkColor; font-weight: $boldweight; line-height: $lineheight; }
	.content a:hover,
	.contentRight a:hover										{color: $baseLinkHoverColor;}
	.content div > p:last-of-type								{margin-bottom: 0;}
		
		
	/* frame info */
	.frame-info													{border: 1px solid $info; padding: $v3; background-color:rgba(lighten($info, 55%),1); transition: all ease 0.3s; 
		> h3,
		> h2,
		> h4													{color: $info;}														
	}	
	
	/* frame danger */
	.frame-danger												{border: 1px solid $danger; padding: $v3; background-color:rgba(lighten($danger, 55%),1); transition: all ease 0.3s; 
		> h3,
		> h2,
		> h4													{color: $danger;}														
	}	
	
	/* frame success */
	.frame-success												{border: 1px solid $success; padding: $v3; background-color:rgba(lighten($success, 55%),1); transition: all ease 0.3s; 
		> h3,
		> h2,
		> h4													{color: $success;}														
	}	

	/* frame warning */
	.frame-warning												{border: 1px solid $warning; padding: $v3; background-color:rgba(lighten($warning, 55%),1); transition: all ease 0.3s; 
		> h3,
		> h2,
		> h4													{color: $warning;}														
	}	
	
	
	/* frame header */	
	.frame-header *												{margin: 0}	

	/* frame column */
	.frame-twocol .ce-text 										{column-fill: balance; column-gap: $v3; column-count:1;}
	
	/* frame line */
	.frame-line													{border-bottom: 2px solid rgba($baseColor, 0.25);}
	.frame-line	.ce-bodytext									{padding-bottom: $v3;}
	.frame-line	p:last-of-type									{margin-bottom: 0;}
	
	/* frame lightgrey */
	.frame-lightgrey											{background-color:$lightgrey; transition: all ease 0.3s;} 
	
	.frame-lightgrey .ce-textpic > h2,
	.frame-lightgrey .ce-textpic > h3,
	.frame-lightgrey .ce-textpic > h4							{padding-left: $v3; padding-right: $v3;}	
	.frame-lightgrey .ce-textpic > .ce-bodytext					{padding: $v3; padding-top: 0;}	
	
	.frame-lightgrey .ce-textpic > h2 ~ .ce-bodytext,	
	.frame-lightgrey .ce-textpic > h3 ~ .ce-bodytext,	
	.frame-lightgrey .ce-textpic > h4 ~ .ce-bodytext			{padding-top: 0;}	
			
	/* frame colored */
	.frame-colored												{background-color:rgba(lighten($baseColor, 57.5%),1); transition: all ease 0.3s;  color: $baseTextColor !important;}
	
	.frame-colored .ce-textpic > h2,
	.frame-colored .ce-textpic > h3,
	.frame-colored .ce-textpic > h4								{padding-left: $v3; padding-right: $v3;}	
	.frame-colored .ce-textpic > .ce-bodytext					{padding: $v3; padding-top: 0;}	
	
	.frame-colored .ce-textpic > h2 ~ .ce-bodytext,	
	.frame-colored .ce-textpic > h3 ~ .ce-bodytext,	
	.frame-colored .ce-textpic > h4 ~ .ce-bodytext				{padding-top: 0;}		

	/* frame white */
	.frame-white												{transition: all ease 0.3s; background-color: rgba(255, 255, 255, 1); color: $baseTextColor !important;}
	
	.frame-white .ce-textpic > h2,
	.frame-white .ce-textpic > h3,
	.frame-white .ce-textpic > h4								{padding-left: $v3; padding-right: $v3;}	
	.frame-white .ce-textpic > .ce-bodytext						{padding: $v3; padding-top: 0;}	
	
	.frame-white .ce-textpic > h2 ~ .ce-bodytext,	
	.frame-white .ce-textpic > h3 ~ .ce-bodytext,	
	.frame-white .ce-textpic > h4 ~ .ce-bodytext				{padding-top: 0;}		
	
	 /* */
	 
	.frame-textmedia{
		&.frame-white > h2,
		&.frame-white > h3,			
		&.frame-white > h4										{padding-top: $v3; padding-right: $v3; padding-left: $v3;}	
		
		&.frame-colored > h2,
		&.frame-colored > h3,			
		&.frame-colored > h4									{padding-top: $v3; padding-right: $v3; padding-left: $v3;}	
		
		&.frame-lightgrey > h2,
		&.frame-lightgrey > h3,			
		&.frame-lightgrey > h4									{padding-top: $v3; padding-right: $v3; padding-left: $v3;}	
	}
	
	.frame-text{
		&.frame-line											{padding-bottom: $v3;}		
		&.frame-colored,		
		&.frame-white,
		&.frame-lightgrey										{padding: $v3;}	
	}

	.smalltext													{font-size: calc(#{$p} * .8);}
	

}

@media (min-width: 768px) {
	main{	
		.frame-twocol .ce-text 									{column-count:2}
	}
}

	/* Design COLOR++++++++++++++++++++++++++++++++ */
	
.page.orange{
	.frame-colored												{background: rgba(lighten($orange, 57.5%),1);}
	main h2, main h3, main a,
	.frame-colored h2,
	.frame-colored h3,
	.frame-colored h4,
	.frame-colored a											{color: $orange !important}
				
	.btn.btn-secondary											{background-color: $orange !important}										
	.btn.btn-secondary a											{color: #fff !important}	
	
	hr															{background-color: $orange !important}
	.frame-line													{border-bottom: 2px solid rgba($orange, 0.5);}	
	
	.ce-table-colorstripe th,
	.ce-table-normalplus th										{background-color: $orange !important;} 
	.ce-table-colorstripe tr:nth-child(2n) td					{background-color: rgba($orange,.2) !important;}	
	}
	
.page.blue{
	.frame-colored												{background: rgba(lighten($blue, 57.5%),1);}
	main h2, main h3, main a,
	.frame-colored h2,
	.frame-colored h3,
	.frame-colored h4, 
	.frame-colored a											{color: $blue !important}
	
	.btn.btn-secondary											{background-color: $blue !important}										
	.btn.btn-secondary a											{color: #fff !important}	
	
	hr															{background-color: $blue !important}
	.frame-line													{border-bottom: 2px solid rgba($blue, 0.5);}
	
	.ce-table-colorstripe th,
	.ce-table-normalplus th										{background-color: $blue !important;} 
	.ce-table-colorstripe tr:nth-child(2n) td					{background-color: rgba($blue,.2) !important;}
	}
	
.page.green{
	.frame-colored												{background: rgba(lighten($green, 57.5%),1);}
	main h2, main h3, main a,
	.frame-colored h2,
	.frame-colored h3,
	.frame-colored h4, 
	.frame-colored a											{color: $green !important; margin: 0; }

	.btn.btn-secondary											{background-color: $green !important}	
	.btn.btn-secondary a										{color: #fff !important}	
	
	hr															{background-color: $green !important}
	.frame-line													{border-bottom: 2px solid rgba($green, 0.5);}
		
	.ce-table-colorstripe th,
	.ce-table-normalplus th										{background-color: $green !important;} 
	.ce-table-colorstripe tr:nth-child(2n) td					{background-color: rgba($green,.2) !important;}
	}
	
.page.grey{
	.frame-grey													{background: rgba(lighten($grey, 57.5%),1);}
	main h2, main h3, main a,
	.frame-colored h2,
	.frame-colored h3,
	.frame-colored h4,
	.frame-colored a											{color: darken($grey,10%) !important}

	.btn.btn-secondary											{background-color: $grey !important}	
	.btn.btn-secondary a											{color: #fff !important}	
			
	hr															{background-color: $grey !important}
	.frame-line													{border-bottom: 2px solid rgba($grey, 0.5);} 
		 
	.ce-table-colorstripe th,
	.ce-table-normalplus th										{background-color: $grey !important;} 
	.ce-table-colorstripe tr:nth-child(2n) td					{background-color: rgba($grey,.2) !important;} 
	}
	
.page.red{
	.frame-colored												{background: rgba(lighten($red, 57.5%),1);}
	main h2, main h3, main a,
	.frame-colored h2,
	.frame-colored h3,
	.frame-colored h4, 
	.frame-colored a											{color: $red !important}

	.btn.btn-secondary											{background-color: $red !important}	
	.btn.btn-secondary a										{color: #fff !important}	
		
	hr															{background-color: $red !important}
	.frame-line													{border-bottom: 2px solid rgba($red, 0.5);} 
		
	.ce-table-colorstripe th,
	.ce-table-normalplus th										{background-color: $red !important;} 
	.ce-table-colorstripe tr:nth-child(2n) td					{background-color: rgba($red,.2) !important;} 
	}
	
.page.turquoise{
	.frame-colored												{background: rgba(lighten($turquoise, 65%),1);}
	main h2, main h3, main a,
	.frame-colored h2,
	.frame-colored h3,
	.frame-colored h4,
	.frame-colored a											{color: $turquoise !important}
	
	.btn.btn-secondary											{background-color: $turquoise !important}	
	.btn.btn-secondary a										{color: #fff !important}	
	
	hr															{background-color: $turquoise !important}
	.frame-line													{border-bottom: 2px solid rgba($turquoise, 0.5);} 
	
	.ce-table-colorstripe th,
	.ce-table-normalplus th										{background-color: $turquoise !important;} 
	.ce-table-colorstripe tr:nth-child(2n) td					{background-color: rgba($turquoise,.2) !important;} 
	}
	
.page.violett{
	.frame-colored												{background: lighten($violett, 60%);}
	main h2, main h3, main a,
	.frame-colored h2,
	.frame-colored h3,
	.frame-colored h4, 
	.frame-colored a											{color: $violett !important}

	.btn.btn-secondary											{background-color: $violett !important}	
	.btn.btn-secondary a										{color: #fff !important}	
	
	hr															{background-color: $violett !important}
	.frame-line													{border-bottom: 2px solid rgba($violett, 0.5);} 
		
	.ce-table-colorstripe th,
	.ce-table-normalplus th										{background-color: $violett !important;} 
	.ce-table-colorstripe tr:nth-child(2n) td					{background-color: rgba($violett,.2) !important;} 
	}
	
.page.yellow{
	.frame-colored												{background: darken($yellow, 50%);}
	main h2, main h3, main a,
	.frame-colored h2,
	.frame-colored h3,
	.frame-colored h4, 
	.frame-colored a											{color: $yellow !important}
	
	.btn.btn-secondary											{background-color: $yellow !important}	
	.btn.btn-secondary a										{color: #fff !important}	
	
	hr															{background-color: $yellow !important}
	.frame-line													{border-bottom: 2px solid rgba($yellow, 0.5);} 
	
	.ce-table-colorstripe th,
	.ce-table-normalplus th										{background-color: $yellow !important;} 
	.ce-table-colorstripe tr:nth-child(2n) td					{background-color: rgba($yellow,.2) !important;} 
	}
	
