main{				
	> .container							{background-color: $containerBgColor;}	
		
	/* Area Content */
	.content							{padding: $mainpadding;}
	.content a,
	.contentRight a							{color: $linkColor; font-weight: $boldweight; line-height: $lineheight; }
	.content a:hover,
	.contentRight a:hover						{color: $linkHoverColor;}
	.content div > p:last-of-type					{margin-bottom: 0;}
			
	/* frame info */
	.frame-info							{border: 1px solid $info; padding: $v3; background-color:rgba(lighten($info, 55%),1); transition: all ease 0.3s; 
		> h3,
		> h2,
		> h4							{color: $info;}														
	}	
	
	/* frame danger */
	.frame-danger							{border: 1px solid $danger; padding: $v3; background-color:rgba(lighten($danger, 55%),1); transition: all ease 0.3s; 
		> h3,
		> h2,
		> h4							{color: $danger;}														
	}	
	
	/* frame success */
	.frame-success							{border: 1px solid $success; padding: $v3; background-color:rgba(lighten($success, 55%),1); transition: all ease 0.3s; 
		> h3,
		> h2,
		> h4							{color: $success;}														
	}	

	/* frame warning */
	.frame-warning							{border: 1px solid $warning; padding: $v3; background-color:rgba(lighten($warning, 55%),1); transition: all ease 0.3s; 
		> h3,
		> h2,
		> h4							{color: $warning;}														
	}	
	

	/* frame column */
	.frame-twocol .ce-text 						{column-fill: balance; column-gap: $v3; column-count:1;}
	
	/* frame line */
	.frame-line							{border-bottom: 2px solid rgba($baseColor, 0.25);}
	.frame-line	.ce-bodytext					{padding-bottom: $v3;}
	.frame-line	p:last-of-type					{margin-bottom: 0;}
	
	/* frame lightgrey */
	.frame-lightgrey						{background-color:$lightgrey; transition: all ease 0.3s;} 
	
	.frame-lightgrey .ce-textpic > h2,
	.frame-lightgrey .ce-textpic > h3,
	.frame-lightgrey .ce-textpic > h4				{padding-left: $v3; padding-right: $v3;}	
	.frame-lightgrey .ce-textpic > .ce-bodytext			{padding: $v3; padding-top: 0;}	
	
	.frame-lightgrey .ce-textpic > h2 ~ .ce-bodytext,	
	.frame-lightgrey .ce-textpic > h3 ~ .ce-bodytext,	
	.frame-lightgrey .ce-textpic > h4 ~ .ce-bodytext		{padding-top: 0;}	
			
	/* frame colored */
	.frame-colored							{background-color:rgba(lighten($baseColor, 57.5%),1); transition: all ease 0.3s;  color: $textColor;}
	
	.frame-colored .ce-textpic > h2,
	.frame-colored .ce-textpic > h3,
	.frame-colored .ce-textpic > h4					{padding-left: $v3; padding-right: $v3;}	
	.frame-colored .ce-textpic > .ce-bodytext			{padding: $v3; padding-top: 0;}	
	
	.frame-colored .ce-textpic > h2 ~ .ce-bodytext,	
	.frame-colored .ce-textpic > h3 ~ .ce-bodytext,	
	.frame-colored .ce-textpic > h4 ~ .ce-bodytext			{padding-top: 0;}		

	/* frame white */
	.frame-white							{transition: all ease 0.3s; background-color: rgba(255, 255, 255, 1); color: $textColor;}
	
	.frame-white .ce-textpic > h2,
	.frame-white .ce-textpic > h3,
	.frame-white .ce-textpic > h4					{padding-left: $v3; padding-right: $v3;}	
	.frame-white .ce-textpic > .ce-bodytext				{padding: $v3; padding-top: 0;}	
	.frame-white .ce-textpic.ce-left.ce-intext			{padding-left: $v3;}
	.frame-white .ce-textpic.ce-right.ce-intext			{padding-right: $v3;}

	.frame-white .ce-textpic > h2 ~ .ce-bodytext,	
	.frame-white .ce-textpic > h3 ~ .ce-bodytext,	
	.frame-white .ce-textpic > h4 ~ .ce-bodytext			{padding-top: 0;}		
	
	 /* */
	 
	.frame-textmedia{
		&.frame-white > h2,
		&.frame-white > h3,	
		&.frame-white > h4					{padding-top: $v3; padding-right: $v3; padding-left: $v3;}	
		
		&.frame-colored > h2,
		&.frame-colored > h3,			
		&.frame-colored > h4					{padding-top: $v3; padding-right: $v3; padding-left: $v3;}	
		
		&.frame-lightgrey > h2,
		&.frame-lightgrey > h3,			
		&.frame-lightgrey > h4					{padding-top: $v3; padding-right: $v3; padding-left: $v3;}	
	}
	
	.frame-text{
		&.frame-line						{padding-bottom: $v3;}		
		&.frame-colored,		
		&.frame-white,
		&.frame-lightgrey					{padding: $v3;}	
	}

	.smalltext							{font-size: calc(#{$p} * .8);}
	

}

@media (min-width: 768px) {
	main{	
		.frame-twocol .ce-text 					{column-count:2}
	}
}



	/* Design COLOR++++++++++++++++++++++++++++++++ */
	
.page.orange{
	.frame-colored							{background: rgba(lighten($orange, 57.5%),1);}
	main h1, main a,
	.frame-colored h2,
	.frame-colored h3,
	.frame-colored h4,
	.frame-colored a						{color: $orange }
				
	.btn.btn-secondary						{background-color: $orange }
	.btn.btn-secondary a						{color: $white }	
	
	hr								{background-color: $orange }
	.frame-line							{border-bottom: 2px solid rgba($orange, 0.5);}	
	
	.ce-table-colorstripe th,
	.ce-table-normalplus th						{background-color: $orange;} 
	.ce-table-colorstripe tr:nth-child(2n) td			{background-color: rgba($orange,.2);}	
	
	.frame-news_newsliststicky.frame-colored .news.calenda .caldate 	{background-color: rgba(desaturate(lighten($orange, 50%),50%),.75);}
	
  	.f3-widget-paginator .current					{background-color: $orange;} 
  	.f3-widget-paginator .current a					{background-color: $orange;}
	
	.news{
		.article .moreNews:after 				{background-color: rgba($orange,.5);}
		.article:hover .moreNews:after				{background-color: $orange;}
	}
	
	.t3upheaderimage span.inf > p					{background: rgba($orange, .7); }
}
	
.page.blue{
	.frame-colored							{background: rgba(lighten($blue, 57.5%),1);}
	main h1, main a,
	.frame-colored h2,
	.frame-colored h3,
	.frame-colored h4, 
	.frame-colored a						{color: $blue }
	
	.btn.btn-secondary						{background-color: $blue}
	.btn.btn-secondary a						{color: $white }	
	
	hr								{background-color: $blue }
	.frame-line							{border-bottom: 2px solid rgba($blue, 0.5);}
	
	.ce-table-colorstripe th,
	.ce-table-normalplus th						{background-color: $blue;} 
	.ce-table-colorstripe tr:nth-child(2n) td			{background-color: rgba($blue,.2);}
	
	.frame-news_newsliststicky.frame-colored .news.calenda .caldate 	{background-color: rgba(desaturate(lighten($blue, 50%),50%),.75);}	
	
  	.f3-widget-paginator .current					{background-color: $blue;} 
  	.f3-widget-paginator .current a					{background-color: $blue;}
	
	.news{
		.article .moreNews:after 				{background-color: rgba($blue,.5)}
		.article:hover .moreNews:after				{background-color: rgba($blue,.75)}
	}
	
	.t3upheaderimage span.inf > p					{background: rgba($blue, .7); }
}
	
	
.page.green{
	.frame-colored							{background: rgba(lighten($green, 57.5%),1);}
	main h1, main a,
	.frame-colored h2,
	.frame-colored h3,
	.frame-colored h4, 
	.frame-colored a						{color: $green; margin: 0; }

	.btn.btn-secondary						{background-color: $green }
	.btn.btn-secondary a						{color: $white }	
	
	hr								{background-color: $green }
	.frame-line							{border-bottom: 2px solid rgba($green, 0.5);}
		
	.ce-table-colorstripe th,
	.ce-table-normalplus th						{background-color: $green;} 
	.ce-table-colorstripe tr:nth-child(2n) td			{background-color: rgba($green,.2);}
	
	.frame-news_newsliststicky.frame-colored .news.calenda .caldate 	{background-color: rgba(desaturate(lighten($green, 50%),50%),.75);}	

  	.f3-widget-paginator .current					{background-color: $green;} 
  	.f3-widget-paginator .current a					{background-color: $green;}
  	
	.news{
		.article .moreNews:after 				{background-color: rgba($green,.5)}
		.article:hover .moreNews:after				{background-color: rgba($green,.75)}
	}
}
	
.page.grey{
	.frame-grey							{background: rgba(lighten($grey, 57.5%),1);}
	main h1, main a,
	.frame-colored h2,
	.frame-colored h3,
	.frame-colored h4,
	.frame-colored a						{color: darken($grey,10%) }

	.btn.btn-secondary						{background-color: $grey }	
	.btn.btn-secondary a						{color: $white }	
			
	hr								{background-color: $grey }
	.frame-line							{border-bottom: 2px solid rgba($grey, 0.5);} 
		 
	.ce-table-colorstripe th,
	.ce-table-normalplus th						{background-color: $grey;} 
	.ce-table-colorstripe tr:nth-child(2n) td			{background-color: rgba($grey,.2);} 
	
	.frame-news_newsliststicky.frame-colored .news.calenda .caldate 	{background-color: rgba(desaturate(lighten($grey, 50%),50%),.75);}	

  	.f3-widget-paginator .current					{background-color: $grey;} 
  	.f3-widget-paginator .current a					{background-color: $grey;}

	.news{
		.article .moreNews:after 				{background-color: rgba($grey,.5)}
		.article:hover .moreNews:after				{background-color: rgba($grey,.75)}
	}
	
	.t3upheaderimage span.inf > p					{background: rgba($grey, .7); }
}
	
.page.red{
	.frame-colored							{background: rgba(lighten($red, 57.5%),1);}
	main h1, main a,
	.frame-colored h2,
	.frame-colored h3,
	.frame-colored h4, 
	.frame-colored a						{color: $red }

	.btn.btn-secondary						{background-color: $red }
	.btn.btn-secondary a						{color: $white }
		
	hr								{background-color: $red }
	.frame-line							{border-bottom: 2px solid rgba($red, 0.5);} 
		
	.ce-table-colorstripe th,
	.ce-table-normalplus th						{background-color: $red;} 
	.ce-table-colorstripe tr:nth-child(2n) td			{background-color: rgba($red,.2);} 
	
	.frame-news_newsliststicky.frame-colored .news.calenda .caldate 	{background-color: rgba(desaturate(lighten($red, 50%),50%),.75);}	

  	.f3-widget-paginator .current					{background-color: $red;} 
  	.f3-widget-paginator .current a					{background-color: $red;}
  	
	.news{
		.article .moreNews:after 				{background-color: rgba($red,.5)}
		.article:hover .moreNews:after				{background-color: rgba($red,.75)}
	}
	
	.t3upheaderimage 	span.inf > p				{background: rgba($red, .7); }

}
	
.page.turquoise{
	.frame-colored							{background: rgba(lighten($turquoise, 65%),1);}
	main h1, main a,
	.frame-colored h2,
	.frame-colored h3,
	.frame-colored h4,
	.frame-colored a						{color: $turquoise }
	
	.btn.btn-secondary						{background-color: $turquoise }	
	.btn.btn-secondary a						{color: $white }	
	
	hr								{background-color: $turquoise }
	.frame-line							{border-bottom: 2px solid rgba($turquoise, 0.5);} 
	
	.ce-table-colorstripe th,
	.ce-table-normalplus th						{background-color: $turquoise;} 
	.ce-table-colorstripe tr:nth-child(2n) td			{background-color: rgba($turquoise,.2);} 
	
	.frame-news_newsliststicky.frame-colored .news.calenda .caldate 	{background-color: rgba(desaturate(lighten($turquoise, 50%),50%),.75);}

  	.f3-widget-paginator .current					{background-color: $turquoise;} 
  	.f3-widget-paginator .current a					{background-color: $turquoise;}
  	
	.news{
		.article .moreNews:after 				{background-color: rgba($turquoise,.5)}
		.article:hover .moreNews:after				{background-color: rgba($turquoise,.75)}
	}
	
	.t3upheaderimage 	span.inf > p				{background: rgba($turquoise, .7); }

}
	
.page.violett{
	.frame-colored							{background: lighten($violett, 60%);}
	main h1, main a,
	.frame-colored h2,
	.frame-colored h3,
	.frame-colored h4, 
	.frame-colored a						{color: $violett;}

	.btn.btn-secondary						{background-color: $violett }	
	.btn.btn-secondary a						{color: $white }	
	
	hr								{background-color: $violett }
	.frame-line							{border-bottom: 2px solid rgba($violett, 0.5);} 
		
	.ce-table-colorstripe th,
	.ce-table-normalplus th						{background-color: $violett;} 
	.ce-table-colorstripe tr:nth-child(2n) td			{background-color: rgba($violett,.2);} 
	
	.frame-news_newsliststicky.frame-colored .news.calenda .caldate 	{background-color: rgba(desaturate(lighten($violett, 50%),50%),.75);}

  	.f3-widget-paginator .current					{background-color: $violett;} 
  	.f3-widget-paginator .current a					{background-color: $violett;}
	
	.news{
		.article .moreNews:after 				{background-color: rgba($violett,.5)}
		.article:hover .moreNews:after				{background-color: rgba($violett,.75)}
	}
	
	.t3upheaderimage span.inf > p					{background: rgba($violett, .7); }
	
}

.page.yellow{
	.frame-colored							{background: darken($yellow, 50%);}
	main h1, main a,
	.frame-colored h2,
	.frame-colored h3,
	.frame-colored h4, 
	.frame-colored a						{color: $yellow }
	
	.btn.btn-secondary						{background-color: $yellow }	
	.btn.btn-secondary a						{color: $white }	
	
	hr								{background-color: $yellow }
	.frame-line							{border-bottom: 2px solid rgba($yellow, 0.5);} 
	
	.ce-table-colorstripe th,
	.ce-table-normalplus th						{background-color: $yellow;} 
	.ce-table-colorstripe tr:nth-child(2n) td			{background-color: rgba($yellow,.2);} 
	
	.frame-news_newsliststicky.frame-colored .news.calenda .caldate 	{background-color: rgba(desaturate(lighten($yellow, 50%),50%),.75);}

  	.f3-widget-paginator .current					{background-color: $yellow;} 
  	.f3-widget-paginator .current a					{background-color: $yellow;}
  	
	.news{
		.article .moreNews:after 				{background-color: rgba($yellow,.5)}
		.article:hover .moreNews:after				{background-color: rgba($yellow,.75)}
	}
	
	.t3upheaderimage span.inf > p					{background: rgba($yellow, .7); }

	
}



	
