footer {										position: absolute; width: 100%; z-index: 2; transition: all ease .3s; bottom: 0; overflow: hidden; color: $footer1TextColor; background: $footer1BgColor;	
	*										  	{text-decoration: none; list-style: none;}
	  
	.footer1{
		
		a:before,
		a										{color: $footer1LinkColor;}
		a:before:hover,
		a:hover								  	{color: $footer1LinkHoverColor;}  
		p,
		li										{font-size: $footer1fontsize; line-height: $lineheight;  }
		h3										{font-size: $footer1fontsize; color: $footer1TextColor; }

		.trigger								{line-height: 100%; cursor: pointer; text-transform: uppercase; font-size: 100%; padding: $v4; font-weight: 600; margin: 0; border-bottom: 1px solid rgba($footer1TextColor,.25)}			 
  		.trigger:empty							{display: none;} 
  		.trigger::after							{content: '+'; font-weight: normal; float: right; padding: 0 0 $v1; font-size: 200%;}
 		.trigger.active::after					{content: '–';}
  		.toggle,
		.toggle:empty							{display: none; padding: $v3;} 
  		.toggle ul:not(.symbols)				{padding: 0;}
  		.toggle > div > h2, .toggle > div > h3	{display: none;}
	}
	    
	  
	  
  /* Baseline Footer */
  .footer3{										font-size: $footer3fontsize; overflow: hidden; color: $footer3TextColor; background: $footer3BgColor;
  		*										{margin-bottom: 0;}
		a										{color: $footer3LinkColor; transition: all ease .3s;}  
		a:hover									{color: $footer3LinkHoverColor;}  
		img										{-webkit-filter: invert(1); filter: invert(1); opacity: .7; transition: ease .3s all;}
		img:hover								{-webkit-filter: invert(1); filter: invert(1); opacity: 1;} 
		ul										{padding-bottom: $v3;}
		ul li									{display: inline-block; padding-right: $v4;}	 
		
		.infs a									{font-weight: normal;}  
		.infs a:after							{content:'|'; color: $footer3LinkColor; padding-right: $v4; padding-left: $v4;}  
		.infs span:last-of-type  a:after		{padding: 0; content:'';}
  
		.social									{display: flex; padding-right: $v5; margin-top: $v4;}
		.social li								{line-height: 100%;}
		.social a								{font-weight: normal; font-size: 200%;  padding-right: $v4; padding-left: $v4; }
		
		.social li span.x a			            {width: 1.5rem; display: inline-block; padding-left: 0;}
		.social li span.x a	img	            	{height: 1.5rem; width: auto; opacity: 1;}		
		span.socialtext:after					{content:'|'; color: $footer3LinkColor; }  
		.social li:last-of-type  span.socialtext:after		  {padding: 0; content:'';}	 
		span.socialtext a					 	{font-weight: normal; font-size: 100%;  padding-right: $v4; padding-left: 0;}	  
		.pidhide								{opacity: 0; transition: all ease .3s;}		
		.pidhide:hover						 	{opacity: 1;}
	}
}

@media screen and (min-width: 576px) {
 footer {											  
	 .footer1 {										
			.toggle								{display: block;}
			.trigger::after						{content: '';}			
		}  
	}
}


@media screen and (min-width: 768px) {
	footer {
		.footer3{
			ul									{padding-bottom: 0;}
		}
	}	
}