



header {                                        background-color: $headerBgColor; color: $headerColor;  width: 100%; transition: all 0.3s; 

    a                                           {color: $headerLinkColor; transition: color ease 1s; text-decoration: none;}
    a:hover                                     {color: $headerLinkHoverColor;}
    .logo                                       {transition: all ease 0.3s;}
    .logo img                                   {width: $logowidth; height: auto; transition: all ease 0.3s;}
    
    .weblogo img                                {width: $mobillogowidth; height: auto; transition: color ease 0.3s;}
    
/* dyn *******************************/    

    &.fixed                                     {position: fixed; z-index: 1002;}
    
    &.sticky-header,
    &.shy-header                                {position: fixed; z-index: 1002; transition: all 0.3s; ;}
    &.shy-aktiv                                 {box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2); ;}

    &.shy-aktiv .logo img                       {width: $logostickywidth; padding-top: $v2; padding-bottom: $v2;}

/* top *******************************/

    .toparea                                    {display: flex; width: 100%; background-color: transparent; background-color: rgba($topBgColor,$topBgColorTrans); top: 0; z-index: 998; transition: color ease .3s;}
    .toparea.active                             {box-shadow: $shadow;}

    .funcItemTitle                              {display: none; font-size: 85%;}

    .top{                                       padding: 0; font-size: 1rem;
        a                                       {color: inherit; color: $topLinkColor; transition: color ease .3s;}
        a:before                                {font-family: $symbol;font-size: $symbolfontsize;}
        a:hover                                 {color: $topLinkHoverColor;}
        
        a.fontmode > span.symb                  {font-size: $symbolfontsize; font-weight: bold;}
        a.loginmode:before                      {content:'\f204';}
        a.colormode:before                      {content:'\f042';}
        a.languagemode:before                   {content:'\f0AC';}
        a.login:before                          {content:'\f204';}
        a.logout:before                         {content:'\f205';color: $success;}
        a.search:before                         {content:'\f002';}
        a.searchmode:before                     {content:'\f002';}
        a.home:before                           {content:'\f015';}
        a.info:before                           {content:'\f05a';}
        a.preferences:before                    {content:'\f007';}
        a.quicklinksmode:before                 {content:'\f005';}
     
        a.main-nav__burger                      {width: 2.5rem; height: 2rem; cursor: pointer;  position: relative; display: inline-block; vertical-align: middle;}
        a.main-nav__burger::before              {content: ''; position: absolute; border-bottom: .125rem solid rgb($topLinkColor);  border-top: .125rem solid rgb($topLinkColor); transition: transform .3s; margin: auto; bottom: .5rem; top: .5rem; right: .25rem; left: .25rem;}
        a.main-nav__burger.act:before           {transform: rotate(45deg); bottom: 0; display: block; top: 0;  height: 2px;  background-color: rgb($topLinkColor); border: none;}
        a.main-nav__burger::after               {content: ''; position: absolute; display: block; transition: transform .3s; height: .125rem; background-color: $topLinkColor; margin: auto; bottom: 0; right: .25rem; left: .25rem; top: 0rem;}
        a.main-nav__burger.act:after            {transform: rotate(315deg);}
                            
    }

    li.languagemenu {                           display: block;
        a                                       {font-weight: bold; transition: color ease 0.3s; padding: 0; border-bottom: 2px solid transparent;}
        span                                    {text-transform: uppercase; display: block;}
        > &.active a                            {border-bottom: 2px solid $topLinkColor;}
        

        &:before                                {content:"|"; padding-right: $v2;}
     }
    
    .burgeranker > ul + div                     {border-top: 1px solid rgba($topLinkColor,.5);}
    .burgeranker > ul div ul                    {margin-top: $v2; padding-top: $v2;}

    .nav-service{
        > li                                    {position: relative;}
        > li > a                                {cursor: pointer; text-transform: none;}

        .tab-content{
            .tab-pane{                          min-width: 15rem; width: auto; padding: $v4; background-color: #fff; z-index: 997; box-shadow: $shadow; top: auto; left: auto; right: 0; transform: none; position: absolute;
                h2,
                h3,
                h4                              {font-weight: bold; margin: 0; padding-bottom:$v2 !important; color: $textColor; font-size: 100%;}
                a.color-mode__btn               {display: block; padding: $v1; text-align: left; position: relative; border-width: 0; border-radius: 0; border: 1px solid transparent;}
                a.color-mode__btn:hover         {cursor: pointer;}
                a.color-mode__btn > span        {display: inline-block; height: $v4; width: $v6; border: 1px solid #808080; position: relative;top: $v1; margin-right :$v2; background: #fff; overflow: hidden;}
                a.color-mode__btn.dark > span   {background: #000;}
                a.color-mode__btn.system > span:before        {content: ""; position: absolute; bottom: calc(clamp(12px, 2.8vw, 24px) * -1.4); right: calc(#{$v4}* -1); width: $v7; height: $v6; transform: rotate(-28deg); z-index: 1; background-color: #000;}
                a.color-mode__btn b             {color: $textColor;}
                .fsrange                        {font-size: 125%; cursor: pointer;}
                ul                              {list-style-type: none;}
                ul li                           {display: block; padding-bottom:$v1; padding-top:$v1;}
                ul li a                         {padding: 0; color: $textColor;}
                ul li a:focus,
                ul li a:hover                   {border-bottom: 1px solid $textColor;; font-weight: bold;}
             }
         }
    }

}

@media screen and (min-width: 992px) {
    header {    
        .funcItemTitle                          {display: inline-block;}
        .notitle .funcItemTitle                 {display: none;}
        .container                              {position: relative;}
    }
}
