/* Images *****************************************************************************************************************************************/


main img                                                          {max-width: 100%; height: auto;}
main .ce-column figure                                            {overflow: hidden;}
       
            
 /* Image Information */
main .ce-column div.imageinf                                      {position: absolute; top: $v1; left: $v1; padding: $v050; background: transparent; color: transparent; transition: all ease .3s; }
main .ce-column:hover div.imageinf                                {background: $white; color: $black;}

 /* Image Rollover */
.rollover                                                         {transition: all ease .5s; top: 100vh; z-index: 9; height: 100%; width: 100%; padding: $v050; color: transparent; background: transparent; font-weight: bold; text-align: center;}
picture:hover .rollover                                           {top: 0; background: $pictureoverlay; color: $pictureoverlaytext; font-size: $pictureoverlaytextsize; }


 /* Image spacing */

.imgspace-025{
    figure                                                      {margin: 0;}
    .ce-above .ce-gallery                                       {margin-bottom: $v025;}
    .ce-textpic.ce-right  .ce-bodytext                          {padding-right: $v025}  
    .ce-textpic.ce-left   .ce-bodytext                          {padding-left:  $v025;}
    .ce-below .ce-gallery                                       {margin-top:    $v025;}
    .ce-row                                                     {margin-bottom: $v025;}  
}

.imgspace-050{
    figure                                                      {margin: 0;}
    .ce-above .ce-gallery                                       {margin-bottom: $v050;}
    .ce-textpic.ce-right  .ce-bodytext                          {padding-right: $v050;}  
    .ce-textpic.ce-left   .ce-bodytext                          {padding-left:  $v050;}
    .ce-below .ce-gallery                                       {margin-top:    $v050;}
    .ce-row                                                     {margin-bottom: $v050;}  
}

.imgspace-075{
    figure                                                      {margin: 0;}
    .ce-above .ce-gallery                                       {margin-bottom: $v075;}
    .ce-textpic.ce-right  .ce-bodytext                          {padding-right: $v075;}  
    .ce-textpic.ce-left   .ce-bodytext                          {padding-left:  $v075;}
    .ce-below .ce-gallery                                       {margin-top:    $v075;}
    .ce-row                                                     {margin-bottom: $v075;}
}

.imgspace-1{
    figure                                                      {margin: 0;}
    .ce-above .ce-gallery                                       {margin-bottom: $v1;}
    .ce-textpic.ce-right  .ce-bodytext                          {padding-right: $v1;}  
    .ce-textpic.ce-left   .ce-bodytext                          {padding-left:  $v1;}
    .ce-below .ce-gallery                                       {margin-top:    $v1;}
    .ce-row                                                     {margin-bottom: $v1;}  
}

.imgspace-150{
    figure                                                      {margin: 0;}
    .ce-above .ce-gallery                                       {margin-bottom: $v150;}
    .ce-textpic.ce-right  .ce-bodytext                          {padding-right: $v150;}  
    .ce-textpic.ce-left   .ce-bodytext                          {padding-left:  $v150;}
    .ce-below .ce-gallery                                       {margin-top:    $v150;}
    .ce-row                                                     {margin-bottom: $v150;}  
}

.imgspace-2{
    figure                                                      {margin: 0;}
    .ce-above .ce-gallery                                       {margin-bottom: $v2;}
    .ce-textpic.ce-right  .ce-bodytext                          {padding-right: $v2;}  
    .ce-textpic.ce-left   .ce-bodytext                          {padding-left:  $v2;}
    .ce-below .ce-gallery                                       {margin-top:    $v2;}
    .ce-row                                                     {margin-bottom: $v2;}  
}

.imgspace-3{
    figure                                                      {margin: 0;}
    .ce-above .ce-gallery                                       {margin-bottom: $v3;}
    .ce-textpic.ce-right  .ce-bodytext                          {padding-right: $v3;}  
    .ce-textpic.ce-left   .ce-bodytext                          {padding-left:  $v3;}
    .ce-below .ce-gallery                                       {margin-top:    $v3;}
    .ce-row                                                     {margin-bottom: $v3;}  
}


  //  .ce-textpic.ce-left .ce-gallery .ce-column:last-of-type            {margin-right: 0 !important;}     
    


/* all large images 100 % in small devices */

.frame-layout-2100 .ce-left     .ce-gallery                       {width: 100%;}
.frame-layout-2100 .ce-right    .ce-gallery                       {width: 100%;}
.frame-layout-2100 .ce-center   .ce-gallery                       {width: 100%;}
.frame-layout-2100 .ce-gallery  .ce-gallery                       {width: 100%; margin-left: 0%}
.frame-layout-2100 .ce-gallery  .ce-inner,                          
.frame-layout-2100 .ce-gallery  .ce-outer                         {float: none; right: 0;}
.frame-layout-2100 .ce-gallery figure                             {display: block;}
.frame-layout-2100 .ce-column                                     {margin-right: 0; width: 100%;}  
.frame-layout-2100 img                                            {width: 100%;}  
.frame-layout-2100 .ce-bodytext                                   {float: left;}

 /* 95 Styles For Images */
.frame-layout-2095 .ce-left     .ce-gallery                       {width: 100%;}
.frame-layout-2095 .ce-right    .ce-gallery                       {width: 100%;}
.frame-layout-2095 .ce-center   .ce-gallery                       {width: 100%;}
.frame-layout-2095 .ce-gallery   .ce-gallery                      {width: 100%; margin-left: 0%}
.frame-layout-2095 .ce-gallery   .ce-inner,                          
.frame-layout-2095 .ce-gallery   .ce-outer                         {float: none; right: 0;}
.frame-layout-2095 .ce-gallery figure                             {display: block;}
.frame-layout-2095 .ce-column                                     {margin-right: 0; width: 100%;}  
.frame-layout-2095 img                                            {width: 100%;}  
.frame-layout-2095 .ce-bodytext                                   {float: left;}

 /* 90 Styles For Images */
.frame-layout-2090 .ce-left     .ce-gallery                       {width: 100%;}
.frame-layout-2090 .ce-right    .ce-gallery                       {width: 100%;}
.frame-layout-2090 .ce-center   .ce-gallery                       {width: 100%;}
.frame-layout-2090 .ce-gallery  .ce-gallery                       {width: 100%; margin-left: 0%}
.frame-layout-2090 .ce-gallery  .ce-inner,                          
.frame-layout-2090 .ce-gallery  .ce-outer                         {float: none; right: 0;}
.frame-layout-2090 .ce-gallery figure                             {display: block;}
.frame-layout-2090 .ce-column                                     {margin-right: 0; width: 100%;}  
.frame-layout-2090 img                                            {width: 100%;} 
.frame-layout-2090 .ce-bodytext                                   {float: left;}

 /* 85 Styles For Images */
.frame-layout-2085 .ce-left     .ce-gallery                       {width: 100%;}
.frame-layout-2085 .ce-right    .ce-gallery                       {width: 100%;}
.frame-layout-2085 .ce-center   .ce-gallery                       {width: 100%;}
.frame-layout-2085 .ce-gallery   .ce-gallery                      {width: 100%; margin-left: 0%}
.frame-layout-2085 .ce-gallery   .ce-inner,                          
.frame-layout-2085 .ce-gallery   .ce-outer                        {float: none; right: 0;}
.frame-layout-2085 .ce-gallery figure                             {display: block;}
.frame-layout-2085 .ce-column                                     {margin-right: 0; width: 100%;}  
.frame-layout-2085 img                                            {width: 100%;} 
.frame-layout-2085 .ce-bodytext                                   {float: left;}

 /* 80 Styles For Images */
.frame-layout-2080 .ce-left     .ce-gallery                       {width: 100%;}
.frame-layout-2080 .ce-right    .ce-gallery                       {width: 100%;}
.frame-layout-2080 .ce-center   .ce-gallery                       {width: 100%;}
.frame-layout-2080 .ce-gallery   .ce-gallery                      {width: 100%; margin-left: 0%}
.frame-layout-2080 .ce-gallery   .ce-inner,                          
.frame-layout-2080 .ce-gallery   .ce-outer                        {float: none; right: 0;}
.frame-layout-2080 .ce-gallery figure                             {display: block;}
.frame-layout-2080 .ce-column                                     {margin-right: 0; width: 100%;}  
.frame-layout-2080 img                                            {width: 100%;} 
.frame-layout-2080 .ce-bodytext                                   {float: left;}

   /* 75 Styles For Images */
.frame-layout-2075 .ce-left     .ce-gallery                       {width: 100%;}
.frame-layout-2075 .ce-right    .ce-gallery                       {width: 100%;}
.frame-layout-2075 .ce-center   .ce-gallery                       {width: 100%;}
.frame-layout-2075 .ce-gallery   .ce-gallery                      {width: 100%; margin-left: 0%}
.frame-layout-2075 .ce-gallery   .ce-inner,                          
.frame-layout-2075 .ce-gallery   .ce-outer                        {float: none; right: 0;}
.frame-layout-2075 .ce-gallery figure                             {display: block;}
.frame-layout-2075 .ce-column                                     {margin-right: 0; width: 100%;}  
.frame-layout-2075 img                                            {width: 100%;} 
.frame-layout-2075 .ce-bodytext                                   {float: left;}

/* all medium images 50 % in small devices */

 /* 70 Styles For Images */
.frame-layout-2070 .ce-left      .ce-gallery                      {width: 50%;}
.frame-layout-2070 .ce-right     .ce-gallery                      {width: 50%;}
.frame-layout-2070 .ce-center    .ce-gallery                      {width: 50%; margin-left: auto; margin-right: auto;}
.frame-layout-2070 .ce-gallery    .ce-gallery                     {width: 50%; margin-left: 25%}
.frame-layout-2070 .ce-gallery figure                             {display: block;}
.frame-layout-2070 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2070 img                                            {width: 100%;} 

 /* 65 Styles For Images */
.frame-layout-2065 .ce-left      .ce-gallery                      {width: 50%;}
.frame-layout-2065 .ce-right     .ce-gallery                      {width: 50%;}
.frame-layout-2065 .ce-center    .ce-gallery                      {width: 50%; margin-left: auto; margin-right: auto;}
.frame-layout-2065 .ce-gallery    .ce-gallery                     {width: 50%; margin-left: 25%}
.frame-layout-2065 .ce-gallery figure                             {display: block;}
.frame-layout-2065 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2065 img                                            {width: 100%;} 

 /* 60 Styles For Images */
.frame-layout-2060 .ce-left      .ce-gallery                      {width: 50%;}
.frame-layout-2060 .ce-right     .ce-gallery                      {width: 50%;}
.frame-layout-2060 .ce-center    .ce-gallery                      {width: 50%; margin-left: auto; margin-right: auto;}
.frame-layout-2060 .ce-gallery    .ce-gallery                     {width: 50%; margin-left: 25%}
.frame-layout-2060 .ce-gallery figure                             {display: block;}
.frame-layout-2060 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2060 img                                            {width: 100%;} 

 /* 55 Styles For Images */
.frame-layout-2055 .ce-left      .ce-gallery                      {width: 50%;}
.frame-layout-2055 .ce-right     .ce-gallery                      {width: 50%;}
.frame-layout-2055 .ce-center    .ce-gallery                      {width: 50%; margin-left: auto; margin-right: auto;}
.frame-layout-2055 .ce-gallery    .ce-gallery                     {width: 50%; margin-left: 25%}
.frame-layout-2055 .ce-gallery figure                             {display: block;}
.frame-layout-2055 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2055 img                                            {width: 100%;} 

 /* 50 Styles For Images */
.frame-layout-2050 .ce-left      .ce-gallery                      {width: 50%;}
.frame-layout-2050 .ce-right     .ce-gallery                      {width: 50%;}
.frame-layout-2050 .ce-center    .ce-gallery                      {width: 50%; margin-left: auto; margin-right: auto;}
.frame-layout-2050 .ce-gallery    .ce-gallery                     {width: 50%; margin-left: 25%}
.frame-layout-2050 .ce-gallery figure                             {display: block;}
.frame-layout-2050 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2050 img                                            {width: 100%;} 

 /* 45 Styles For Images */
.frame-layout-2045 .ce-left      .ce-gallery                      {width: 50%;}
.frame-layout-2045 .ce-right     .ce-gallery                      {width: 50%;}
.frame-layout-2045 .ce-center    .ce-gallery                      {width: 50%; margin-left: auto; margin-right: auto;}
.frame-layout-2045 .ce-gallery    .ce-gallery                     {width: 50%; margin-left: 25%}
.frame-layout-2045 .ce-gallery figure                             {display: block;}
.frame-layout-2045 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2045 img                                            {width: 100%;} 

 /* 40 Styles For Images */
.frame-layout-2040 .ce-left      .ce-gallery                      {width: 50%;}
.frame-layout-2040 .ce-right     .ce-gallery                      {width: 50%;}
.frame-layout-2040 .ce-center    .ce-gallery                      {width: 50%; margin-left: auto; margin-right: auto;}
.frame-layout-2040 .ce-gallery   .ce-gallery                      {width: 50%; margin-left: 25%}
.frame-layout-2040 .ce-gallery figure                             {display: block;}
.frame-layout-2040 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2040 img                                            {width: 100%;} 

 /* 35 Styles For Images */
.frame-layout-2035 .ce-left      .ce-gallery                      {width: 50%;}
.frame-layout-2035 .ce-right     .ce-gallery                      {width: 50%;}
.frame-layout-2035 .ce-center    .ce-gallery                      {width: 50%; margin-left: auto; margin-right: auto;}
.frame-layout-2035 .ce-gallery    .ce-gallery                     {width: 50%; margin-left: 25%}
.frame-layout-2035 .ce-gallery figure                             {display: block;}
.frame-layout-2035 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2035 img                                            {width: 100%;} 

/* all medium images 25 % in small devices */

 /* 30 Styles For Images */
.frame-layout-2030 .ce-left      .ce-gallery                      {width: 25%;}
.frame-layout-2030 .ce-right     .ce-gallery                      {width: 25%;}
.frame-layout-2030 .ce-center    .ce-gallery                      {width: 25%; margin-left: auto; margin-right: auto;}
.frame-layout-2030 .ce-gallery    .ce-gallery                     {width: 25%; margin-left: 37.5%}
.frame-layout-2030 .ce-gallery figure                             {display: block;}
.frame-layout-2030 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2030 img                                            {width: 100%;}

/* 25 Styles For Images */
.frame-layout-2025 .ce-left      .ce-gallery                      {width: 25%;}
.frame-layout-2025 .ce-right     .ce-gallery                      {width: 25%;}
.frame-layout-2025 .ce-center    .ce-gallery                      {width: 25%; margin-left: auto; margin-right: auto;}
.frame-layout-2025 .ce-gallery    .ce-gallery                     {width: 25%; margin-left: 37.5%}
.frame-layout-2025 .ce-gallery figure                             {display: block;}
.frame-layout-2025 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2025 img                                            {width: 100%;}  

 /* 20 Styles For Images */
.frame-layout-2020 .ce-left      .ce-gallery                      {width: 25%;}
.frame-layout-2020 .ce-right     .ce-gallery                      {width: 25%;}
.frame-layout-2020 .ce-center    .ce-gallery                      {width: 25%; margin-left: auto; margin-right: auto;}
.frame-layout-2020 .ce-gallery    .ce-gallery                     {width: 25%; margin-left: 37.5%}
.frame-layout-2020 .ce-gallery figure                             {display: block;}
.frame-layout-2020 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2020 img                                            {width: 100%;}

 /* 15 Styles For Images */
.frame-layout-2015 .ce-left      .ce-gallery                      {width: 25%;}
.frame-layout-2015 .ce-right     .ce-gallery                      {width: 25%;}
.frame-layout-2015 .ce-center    .ce-gallery                      {width: 25%; margin-left: auto; margin-right: auto;}
.frame-layout-2015 .ce-gallery    .ce-gallery                     {width: 25%; margin-left: 37.5%}
.frame-layout-2015 .ce-gallery figure                             {display: block;}
.frame-layout-2015 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2015 img                                            {width: 100%;}  

 /* 10 Styles For Images */
.frame-layout-2010 .ce-left      .ce-gallery                      {width: 25%;}
.frame-layout-2010 .ce-right     .ce-gallery                      {width: 25%;}
.frame-layout-2010 .ce-center    .ce-gallery                      {width: 25%; margin-left: auto; margin-right: auto;}
.frame-layout-2010 .ce-gallery    .ce-gallery                     {width: 25%; margin-left: 37.5%}
.frame-layout-2010 .ce-gallery figure                             {display: block;}
.frame-layout-2010 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2010 img                                            {width: 100%;}

@media screen and (min-width: 768px) {

 /* 100 Styles For Images */
.frame-layout-2100 .ce-left      .ce-gallery                      {width: 100%;}
.frame-layout-2100 .ce-right     .ce-gallery                      {width: 100%;}
.frame-layout-2100 .ce-center    .ce-gallery                      {width: 100%;}
.frame-layout-2100 .ce-gallery    .ce-gallery                     {width: 100%; margin-left: 0%}
.frame-layout-2100 .ce-gallery figure                             {display: block;}
.frame-layout-2100 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2100 img                                            {width: 100%;}

 /* 95 Styles For Images */
.frame-layout-2095 .ce-left      .ce-gallery                      {width: 95%;}
.frame-layout-2095 .ce-right     .ce-gallery                      {width: 95%;}
.frame-layout-2095 .ce-center    .ce-gallery                      {width: 95%; margin-left: auto; margin-right: auto;}
.frame-layout-2095 .ce-gallery    .ce-gallery                     {width: 95%; margin-left:2.50%}
.frame-layout-2095 .ce-gallery figure                             {display: block;}
.frame-layout-2095 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2095 img                                            {width: 100%;}
  
 /* 90 Styles For Images */
.frame-layout-2090 .ce-left      .ce-gallery                      {width: 90%;}
.frame-layout-2090 .ce-right     .ce-gallery                      {width: 90%;}
.frame-layout-2090 .ce-center    .ce-gallery                      {width: 90%; margin-left: auto; margin-right: auto;}
.frame-layout-2090 .ce-gallery    .ce-gallery                     {width: 90%; margin-left: 5.0%}
.frame-layout-2090 .ce-gallery figure                             {display: block;}
.frame-layout-2090 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2090 img                                            {width: 100%;}

 /* 85 Styles For Images */
.frame-layout-2085 .ce-left      .ce-gallery                      {width: 85%;}
.frame-layout-2085 .ce-right     .ce-gallery                      {width: 85%;}
.frame-layout-2085 .ce-center    .ce-gallery                      {width: 85%; margin-left: auto; margin-right: auto;}
.frame-layout-2085 .ce-gallery    .ce-gallery                     {width: 85%; margin-left: 7.50%}
.frame-layout-2085 .ce-gallery figure                             {display: block;}
.frame-layout-2085 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2085 img                                            {width: 100%;}

 /* 80 Styles For Images */
.frame-layout-2080 .ce-left      .ce-gallery                      {width: 80%;}
.frame-layout-2080 .ce-right     .ce-gallery                      {width: 80%;}
.frame-layout-2080 .ce-center    .ce-gallery                      {width: 80%; margin-left: auto; margin-right: auto;}
.frame-layout-2080 .ce-gallery    .ce-gallery                     {width: 80%; margin-left:10.0%}
.frame-layout-2080 .ce-gallery figure                             {display: block;}
.frame-layout-2080 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2080 img                                            {width: 100%;}

 /* 75 Styles For Images */
.frame-layout-2075 .ce-left      .ce-gallery                      {width: 75%;}
.frame-layout-2075 .ce-right     .ce-gallery                      {width: 75%;}
.frame-layout-2075 .ce-center    .ce-gallery                      {width: 75%; margin-left: auto; margin-right: auto;}
.frame-layout-2075 .ce-gallery    .ce-gallery                     {width: 75%; margin-left: 12.50%}
.frame-layout-2075 .ce-gallery figure                             {display: block;}
.frame-layout-2075 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2075 img                                            {width: 100%;}

 /* 70 Styles For Images */
.frame-layout-2070 .ce-left      .ce-gallery                      {width: 70%;}
.frame-layout-2070 .ce-right     .ce-gallery                      {width: 70%;}
.frame-layout-2070 .ce-center    .ce-gallery                      {width: 70%; margin-left: auto; margin-right: auto;}
.frame-layout-2070 .ce-gallery    .ce-gallery                     {width: 70%; margin-left: 15.0%}
.frame-layout-2070 .ce-gallery figure                             {display: block;}
.frame-layout-2070 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2070 img                                            {width: 100%;}  

 /* 65 Styles For Images */
.frame-layout-2065 .ce-left      .ce-gallery                      {width: 65%;}
.frame-layout-2065 .ce-right     .ce-gallery                      {width: 65%;}
.frame-layout-2065 .ce-center    .ce-gallery                      {width: 65%; margin-left: auto; margin-right: auto;}
.frame-layout-2065 .ce-gallery    .ce-gallery                     {width: 65%; margin-left: 17.50%}
.frame-layout-2065 .ce-gallery figure                             {display: block;}
.frame-layout-2065 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2065 img                                            {width: 100%;}

 /* 60 Styles For Images */
.frame-layout-2060 .ce-left      .ce-gallery                      {width: 60%;}
.frame-layout-2060 .ce-right     .ce-gallery                      {width: 60%;}
.frame-layout-2060 .ce-center    .ce-gallery                      {width: 60%; margin-left: auto; margin-right: auto;}
.frame-layout-2060 .ce-gallery    .ce-gallery                     {width: 60%; margin-left: 20.0%}
.frame-layout-2060 .ce-gallery figure                             {display: block;}
.frame-layout-2060 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2060 img                                            {width: 100%;}  

 /* 55 Styles For Images */
.frame-layout-2055 .ce-left      .ce-gallery                      {width: 55%;}
.frame-layout-2055 .ce-right     .ce-gallery                      {width: 55%;}
.frame-layout-2055 .ce-center    .ce-gallery                      {width: 55%; margin-left: auto; margin-right: auto;}
.frame-layout-2055 ce-gallery    .ce-gallery                      {width: 55%; margin-left: 22.50%}
.frame-layout-2055 .ce-gallery figure                             {display: block;}
.frame-layout-2055 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2055 img                                            {width: 100%;}

 /* 50 Styles For Images */
.frame-layout-2050 .ce-left      .ce-gallery                      {width: 50%;}
.frame-layout-2050 .ce-right     .ce-gallery                      {width: 50%;}
.frame-layout-2050 .ce-center    .ce-gallery                      {width: 50%; margin-left: auto; margin-right: auto;}
.frame-layout-2050 .ce-gallery    .ce-gallery                     {width: 50%; margin-left: 25%}
.frame-layout-2050 .ce-gallery figure                             {display: block;}
.frame-layout-2050 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2050 img                                            {width: 100%;}

 /* 45 Styles For Images */
.frame-layout-2045 .ce-left      .ce-gallery                      {width: 45%;}
.frame-layout-2045 .ce-right     .ce-gallery                      {width: 45%;}
.frame-layout-2045 .ce-center    .ce-gallery                      {width: 45%; margin-left: auto; margin-right: auto;}
.frame-layout-2045 .ce-gallery    .ce-gallery                     {width: 45%; margin-left: 27.50%}
.frame-layout-2045 .ce-gallery figure                             {display: block;}
.frame-layout-2045 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2045 img                                            {width: 100%;}

 /* 40 Styles For Images */
.frame-layout-2040 .ce-left      .ce-gallery                      {width: 40%;}
.frame-layout-2040 .ce-right     .ce-gallery                      {width: 40%;}
.frame-layout-2040 .ce-center    .ce-gallery                      {width: 40%; margin-left: auto; margin-right: auto;}
.frame-layout-2040 .ce-gallery    .ce-gallery                     {width: 40%; margin-left: 30%}
.frame-layout-2040 .ce-gallery figure                             {display: block;}
.frame-layout-2040 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2040 img                                            {width: 100%;}

 /* 35 Styles For Images */
.frame-layout-2035 .ce-left      .ce-gallery                      {width: 35%;}
.frame-layout-2035 .ce-right     .ce-gallery                      {width: 35%;}
.frame-layout-2035 .ce-center    .ce-gallery                      {width: 35%; margin-left: auto; margin-right: auto;}
.frame-layout-2035 .ce-gallery    .ce-gallery                     {width: 35%; margin-left: 32.50%}
.frame-layout-2035 .ce-gallery figure                             {display: block;}
.frame-layout-2035 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2035 img                                            {width: 100%;}

 /* 30 Styles For Images */
.frame-layout-2030 .ce-left      .ce-gallery                      {width: 30%;}
.frame-layout-2030 .ce-right     .ce-gallery                      {width: 30%;}
.frame-layout-2030 .ce-center    .ce-gallery                      {width: 30%; margin-left: auto; margin-right: auto;}
.frame-layout-2030 .ce-gallery    .ce-gallery                     {width: 30%; margin-left: 35%}
.frame-layout-2030 .ce-gallery figure                             {display: block;}
.frame-layout-2030 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2030 img                                            {width: 100%;}

 /* 25 Styles For Images */
.frame-layout-2025 .ce-left      .ce-gallery                      {width: 25%;}
.frame-layout-2025 .ce-right     .ce-gallery                      {width: 25%;}
.frame-layout-2025 .ce-center    .ce-gallery                      {width: 25%; margin-left: auto; margin-right: auto;}
.frame-layout-2025 .ce-gallery    .ce-gallery                     {width: 25%; margin-left: 37.50%}
.frame-layout-2025 .ce-gallery figure                             {display: block;}
.frame-layout-2025 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2025 img                                            {width: 100%;}

 /* 20 Styles For Images */
.frame-layout-2020 .ce-left      .ce-gallery                      {width: 20%;}
.frame-layout-2020 .ce-right     .ce-gallery                      {width: 20%;}
.frame-layout-2020 .ce-center    .ce-gallery                      {width: 20%; margin-left: auto; margin-right: auto;}
.frame-layout-2020 .ce-gallery    .ce-gallery                     {width: 20%; margin-left: 40%}
.frame-layout-2020 .ce-gallery figure                             {display: block;}
.frame-layout-2020 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2020 img                                            {width: 100%;}  

 /* 15 Styles For Images */
.frame-layout-2015 .ce-left      .ce-gallery                      {width: 15%;}
.frame-layout-2015 .ce-right     .ce-gallery                      {width: 15%;}
.frame-layout-2015 .ce-center    .ce-gallery                      {width: 15%; margin-left: auto; margin-right: auto;}
.frame-layout-2015 .ce-gallery    .ce-gallery                     {width: 15%; margin-left: 42.50%}
.frame-layout-2015 .ce-gallery figure                             {display: block;}
.frame-layout-2015 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2015 img                                            {width: 100%;}

 /* 10 Styles For Images */
.frame-layout-2010 .ce-left      .ce-gallery                      {width: 10%;}
.frame-layout-2010 .ce-right     .ce-gallery                      {width: 10%;}
.frame-layout-2010 .ce-center    .ce-gallery                      {width: 10%; margin-left: auto; margin-right: auto;}
.frame-layout-2010 .ce-gallery    .ce-gallery                     {width: 10%; margin-left: 45%}
.frame-layout-2010 .ce-gallery figure                             {display: block;}
.frame-layout-2010 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2010 img                                            {width: 100%;}

 /* 10 Styles For Images */
.frame-layout-2005 .ce-left      .ce-gallery                      {width: 5%;}
.frame-layout-2005 .ce-right     .ce-gallery                      {width: 5%;}
.frame-layout-2005 .ce-center    .ce-gallery                      {width: 5%; margin-left: auto; margin-right: auto;}
.frame-layout-2005 .ce-gallery    .ce-gallery                     {width: 5%; margin-left: 47.5%}
.frame-layout-2005 .ce-gallery figure                             {display: block;}
.frame-layout-2005 .ce-column                                     {margin-right: 0; width: 100%;} 
.frame-layout-2005 img                                            {width: 100%;}
}


/* two cols */
.ce-gallery [data-ce-columns="2"]{
	.ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
	.ce-row                                              {width: 100%; display: inline;}
	.ce-column                                           {width: 50%;} 
	.ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
}

/* three cols  */
.ce-gallery [data-ce-columns="3"]{
	 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
	 .ce-row                                              {width: 100%; display: inline;}
	 .ce-column                                           {width: 50%;}
	 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
}
 /* four cols  */
.ce-gallery [data-ce-columns="4"]{  
	 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
	 .ce-row                                              {width: 100%; display: inline;}
	 .ce-column                                           {width: 50%;}
	 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
}
 /* five cols  */
.ce-gallery [data-ce-columns="5"]{
	 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
	 .ce-row                                              {width: 100%; display: inline;}
	 .ce-column                                           {width: 33.33%;}
	 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
}
 /* six cols  */
.ce-gallery [data-ce-columns="6"]{
	 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
	 .ce-row                                              {width: 100%; display: inline;}
	 .ce-column                                           {width: 33.33%;}
	 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
}
 /* seven cols  */
.ce-gallery [data-ce-columns="7"]{
	 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
	 .ce-row                                              {width: 100%; display: inline;}
	 .ce-column                                           {width: 33.33%;}
	 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
}
 /* eight cols  */
.ce-gallery [data-ce-columns="8"]{
	 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}
	 .ce-row                                              {width: 100%; display: inline;}
	 .ce-column                                           {width: 25%;} 
	 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
}

@media screen and (min-width: 768px) {

 /* two cols  */
	.ce-gallery [data-ce-columns="2"]{
		.ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
		.ce-row                                              {width: 100%; display: inline;}
		.ce-column                                           {width: 50%;} 
		.ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
	}
	/* three cols  */
	.ce-gallery [data-ce-columns="3"]{
		 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
		 .ce-row                                              {width: 100%; display: inline;}
		 .ce-column                                           {width: 33.33%;}
		 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
	}
	 /* four cols  */
	.ce-gallery [data-ce-columns="4"]{
		 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
		 .ce-row                                              {width: 100%; display: inline;}
		 .ce-column                                           {width: 25%;} 
		 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
	}
	 /* five cols  */
	.ce-gallery [data-ce-columns="5"]{
		 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}
		 .ce-row                                              {width: 100%; display: inline;}
		 .ce-column                                           {width: 25%;} 
		 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
	}
	 /* six cols  */
	.ce-gallery [data-ce-columns="6"]{
		 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
		 .ce-row                                              {width: 100%; display: inline}
		 .ce-column                                           {width: 20%;}
		 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
	}
	 /* seven cols  */
	.ce-gallery [data-ce-columns="7"]{
		 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
		 .ce-row                                              {width: 100%; display: inline;}
		 .ce-column                                           {width: 20%;}
		 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
	}
	 /* eight cols  */
	.ce-gallery [data-ce-columns="8"]{
		 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
		 .ce-row                                              {width: 100%; display: inline;}
		 .ce-column                                           {width: 20%;}
		 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
	}
}

@media screen and (min-width: 1200px) {
 /* two cols  */
	.ce-gallery [data-ce-columns="2"]{
		.ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
		.ce-row                                              {width: 100%; display: inline;}
		.ce-column                                           {width: 50%;} 
		.ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
	}
	/* three cols  */
	.ce-gallery [data-ce-columns="2"]{
		 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
		 .ce-row                                              {width: 100%; display: inline;}
		 .ce-column                                           {width: 33.33%;}
		 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
	}
	 /* four cols  */
	.ce-gallery [data-ce-columns="2"]{
		 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
		 .ce-row                                              {width: 100%; display: inline;}
		 .ce-column                                           {width: 25%;} 
		 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
	}
	 /* five cols  */
	.ce-gallery [data-ce-columns="2"]{
		 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}
		 .ce-row                                              {width: 100%; display: inline;}
		 .ce-column                                           {width: 20%;} 
		 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
	}
	 /* six cols  */
	.ce-gallery [data-ce-columns="2"]{
		 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
		 .ce-row                                              {width: 100%; display: inline}
		 .ce-column                                           {width: 16.6666666666666%;}
		 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
	}
	 /* seven cols  */
	.ce-gallery [data-ce-columns="2"]{
		 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
		 .ce-row                                              {width: 100%; display: inline}
		 .ce-column                                           {width: 14.25%;}
		 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
	}
	 /* eight cols  */
	.ce-gallery [data-ce-columns="2"]{
		 .ce-inner                                            {margin: 0 calc(#{$v2} *  -1);}   
		 .ce-row                                              {width: 100%; display: inline;}
		 .ce-column                                           {width: 12.5%;}
		 .ce-column:nth-child(n) figure                       {margin-right: $v2; margin-left: $v2;}
	}
}
