@media screen and (min-width:992px){
    
     li.dropmenue > span                        {cursor:pointer; display:inline-block;}
     span.nonav1 > a                            {cursor:default;}
    
     /* Navigation 1:standard **************/
     .standardNav{                              width:auto; 
        > ul                                    {list-style:none; margin:0; display:flex;}
        > ul > li                               {position:relative; order:2; hyphens: none;}
        > ul > li > span, 
        > ul > li > a                           {cursor:pointer; margin:0;font-size:$navigationfontsize; letter-spacing:.01em; transition:color ease .3s; text-transform:uppercase; padding:0 $v2 $v1; 
                                                border-bottom-width:calc(#{$v1}/ 2); border-bottom-style:solid; border-bottom-color:transparent; display:block; color:$navLinkColor; display:inline-block; font-weight:$navFontWeight;}             
        > ul > li.cur > a,
        > ul > li > a:hover                     {color:$navLinkHoverColor; border-bottom-color:$navLinkHoverColor;}
        > ul > li.activated > a                 {border-bottom-color:$navLinkHoverColor+99;}
        
        > ul > li.act > a,
        > ul > li > a.closelink                 {border-bottom-color:$navLinkHoverColor; border-bottom-color:$navBorderBottomColor;}
        
        > ul > li .subnav                       {background-color:$subNavBG; width:18rem; box-shadow:$shadow; position:absolute; white-space:nowrap; z-index:1002; transition:all ease .3s;}
        > ul > li .subnav > li                  {display:flex; justify-content:space-between; border-bottom:1px solid rgba($navLinkColor,.2);}
        > ul > li .subnav.level2 > li:last-of-type     {border-bottom:0}
        > ul > li .subnav li.act                {background-color:rgba($baseColor, .1);}
        > ul > li .subnav li.cur                {background-color:rgba($baseColor, .2);}
        > ul > li .subnav li:hover, 
        .subnav .activated                      {background-color:rgba($subnavLinkColor,.075);}
        > ul > li .subnav > li > p,
        > ul > li .subnav > li > a              {cursor:pointer; margin:0;font-size:$navigationfontsize; display:inline-block; padding:$v1 $v3; transition:all ease .3s; text-align:inherit; 
                                                width:100%; white-space:normal; color:$subnavLinkColor;}
        > ul > li .subnav .activated > a,     
        > ul > li .subnav a:focus,
        > ul > li .subnav a:hover               {color:$subnavLinkHoverColor;}
        > ul > li .subnav .subnav               {position:absolute; left:18rem; top:0;}
        > ul > li .subnav span                  {align-self:stretch; cursor:pointer; padding:$v1 0 $v1 0; display:block; text-align:center; width:$v6;
                                                font-family:$symbol; line-height:100%; color:$subnavLinkColor;}
        > ul > li .subnav li:hover > span       {background-color:rgba($navLinkColor,.075);}
        > ul > li .subnav .subnav               {top:auto;}
     }

     /* Navigation 2    ***/
     .activeNav{                                width:100%; 
        > ul                                    {min-height:$v4;}
        > ul > li                               {padding:0; hyphens: none;}
        > ul > li > a                           {padding:$v2; display:inline-block; cursor:pointer; font-size:$navigationfontsize; transition:color ease .3s; text-transform:uppercase;
                                                border-bottom-width:calc(#{$v1}/ 2); border-bottom-style:solid; border-bottom-color:transparent; color:$navLinkColor; font-weight:$navFontWeight;}     
        > ul > li.act > a,
        > ul > li.cur > a                       {color:$navLinkHoverColor; border-bottom-color:rgba($baseColor, .75);}
        
        > ul > li:not(.act) > a:hover           {color:$navLinkHoverColor; border-bottom-color:rgba($navLinkHoverColor, .25);}
        
        ul.subnav                               {position:absolute; z-index:1004; width:33.333%; list-style:none; left:0; top:$v4; border-right:1px solid #efefef; height:calc(100% - 2rem);}
        
        ul.subnav ul.subnav                     {left:100%; z-index:1005; position:absolute; top:0rem; width:100%;}
        ul.subnav ul.subnav    ul.subnav        {z-index:1006; position:absolute; top:0rem;}
        ul.subnav li                            {display:flex; justify-content:space-between;}
        ul.subnav li span                       {padding:$v1 $v2; font-size:v5; line-height:$v4; font-weight:normal; cursor:pointer;}
        ul.subnav li a                          {padding:$v1 $v4;}

        ul.subnav li.activated                  {background:#efefef;}
        
        ul.subnav li.act,            
        ul.subnav li.cur                        {background:rgba($baseColor, .20);}
        
        ul.subnav li > a:hover                  {font-weight:bold;}
        
        .box                                    {min-height:40vh; max-height:50vh; z-index:1002; width:100%; position:absolute; left:0; display:none; 
                                                border-top:1px solid $grey; box-shadow:$shadow; background-color:rgba($white,1); overflow-x:hidden;}
     }
    
     /* Navigation 3:Navigation on the right, full size */
     .blockNav{                                 width:auto; 

        > ul                                    {list-style:none; margin:0; display:flex;}
        > ul > li                               {order:2; hyphens: none;}
        > ul > li > span,   
        > ul > li > a                           {cursor:pointer; font-size:$navigationfontsize; transition:all ease .3s; font-weight:$navFontWeight;
                                                text-transform:uppercase; padding:$v4; display:block; width:100%; text-align:inherit; white-space:nowrap; border-bottom-width:$v1; border-bottom-style:solid; border-bottom-color:transparent;}
        > ul > li.act > a,
        > ul > li > a.closelink                 {border-bottom-color:$navLinkHoverColor;}
            
        > ul > li > ul                          {width:100%; list-style:none; position:absolute; left:0; background-color:$subNavBG; list-style:none; z-index:1002; padding:$v3; margin:0; box-shadow:0  $v1 $v1 $v1  rgba(0,0,0,.1);}
        > ul > li > ul[aria-hidden=false]       {display:flex !important; opacity:1 !important;}
        > ul > li > ul > li                     {width:auto; flex:1 1 auto!important; display:inline-block; margin:0 0 0 -0.1875rem; padding:0; vertical-align:top;}
        > ul > li > ul > li.drittel             {width:33.333%;}
        > ul > li > ul > li.viertel             {width:25%;}
        > ul > li > ul > li.fuenftel            {width:20%;}
        > ul > li > ul > li.sechstel            {width:16.666%;}
        > ul > li > ul > li.siebtel             {width:14.28%;}
        > ul > li > ul > li.achtel              {width:12.5%;}
        > ul > li > ul > li.neuntel             {width:11.11%;}
        > ul > li > ul > li.zehntel             {width:10%;}
           
        > ul > li > ul li                       {position:relative;}
        > ul > li > ul li a                     {margin-left:$v4; display:block; color:$subnavLinkColor;}
        > ul > li > ul > li > a                 {font-weight:$boldweight; letter-spacing:.01em; padding-bottom:$v3;}
        > ul > li > ul li a:hover               {color:$baseColor}
        
        > ul > li > ul li a:before              {position:absolute; top:0; left:0; content:'\F0DA'; font-family:$symbol; width:$v3; text-align:center; display:inline-block; opacity:0; height:100%;}
        > ul > li > ul li:hover > a:before      {opacity:1;}
        
        > ul > li > ul > li > ul                {list-style:none;}
        > ul > li > ul > li > ul > li           {line-height:135%;}
        > ul > li > ul > li > ul > li a         {padding:0 0 $v2 0;}
    }
}

/* Anker-Nav ********************************************************************************************************************************************************/


@media screen and (min-width:576px){

     /* Anker-Nav */
     nav#sideanker{                             position:fixed; top:50%; z-index:9;
        ul                                      {display:block; list-style-type:none;}
        ul li                                   {display:block; margin-bottom:calc(#{$p}* .5);}
        ul a                                    {padding:calc(#{$p}* .5); border-radius:calc(#{$p}* .5); color:transparent; transition:all ease .3s; background:rgba($white,0); text-decoration:none;}
        ul li:hover a                           {box-shadow:$shadow; font-weight:bold; color:#333; background:rgba($white,1) }
        ul li a:before                          {display:none;}
     }
     
     nav#sideanker    {
        &.leftround{                            left:0;
            ul li                               {padding:0 0 0 calc(#{$p}* 2);}
            ul li:before                        {background:rgba($sideankerlicolor,.66); border-radius:50%; margin-left:calc(#{$p}* -1.5); width:$p; height:$p; content:''; transition:all ease .5s; margin-top:calc(#{$p}* .5); float:left;}
            ul li:hover:before                  {background:rgba($sideankerlicolor,1);}
        }
    }

     nav#sideanker    {
        &.leftsquare{                           left:0;
            ul a                                {border-radius:calc(#{$p}* .15);padding:calc(#{$p}* .25) calc(#{$p}* .5);}
            ul li                               {padding:0 0 0 calc(#{$p}* 2);}
            ul li:before                        {background:rgba($sideankerlicolor,.66); margin-left:calc(#{$p}* -1.5); width:$p; height:$p; content:''; transition:all ease .5s; margin-top:calc(#{$p}* .5); float:left;}
            ul li:hover:before                  {background:rgba($sideankerlicolor,1);}
        }
    }

     nav#sideanker    {
        &.rightround{                           right:0;
            ul                                  {text-align:right;}
            ul li                               {padding:0 calc(#{$p}* 2) 0 0;}
            ul li:after                         {background:rgba($sideankerlicolor,.66); border-radius:50%; margin-right:calc(#{$p}* -1.5); width:$p; height:$p; content:''; transition:all ease .5s; margin-top:calc(#{$p}* .5); float:right;}
            ul li:hover:after                   {background:rgba($sideankerlicolor,1);}
        }
    }
    
     nav#sideanker    {
        &.rightsquare{                          right:0;
            ul                                  {text-align:right;}
            ul li                               {padding:0 calc(#{$p}* 2) 0 0;}
            ul li:after                         {background:rgba($sideankerlicolor,.66); margin-right:calc(#{$p}* -1.5); width:$p; height:$p; content:''; transition:all ease .5s; margin-top:calc(#{$p}* .5); float:right;}
            ul li:hover:after                   {background:rgba($sideankerlicolor,1);}
        }
    }
}

/* All Mobil-Nav ********************************************************************************************************************************************************/

@media screen and (max-width:991px){
    header ul.nav,    
    .mm-menu    span.btn-close                {display:none;}
}


@media screen and (min-width:992px){
    header nav#menu                        {display:block;}
}
