
/* quicklinks */

.quicklinks {                                 
  > a:after                                   {content:'\F0D7'; font-family: $symbol; font-weight: bold; padding-left: 5px;}
  h2                                          {display: none; }
  *                                           {list-style: none;}
  > *                                         {display: block; }
  > div                                       {position: absolute;}

  ul                                          {background-color: #fff; position: absolute; top: auto;  z-index: 2499; right: 0; padding: 0; list-style-type: none;
                                              box-shadow: 0 0 1px rgba(0,0,0,0.2); display: none; margin: 0; border: 1px solid #e6e6e6; text-align: left;}
                                              
  ul li                                       {white-space:nowrap; border-bottom: 1px solid #fafafa; width: 100%;}  
  ul li:last-of-type                          {border-bottom: 0;}                                  
  ul li a                                     {width: 100%; position:relative; padding:  0.25rem 1rem 0.25rem 0.5rem ; margin: 0; background: transparent;
                                              font-size: 1rem; text-transform: none; display: inline-block; text-align: left; color: #333 !important; font-weight: normal;}
      
      
  ul li a.link-internal,   
  ul li a.link-info,
  ul li a.link-external-blank,
  ul li a.link-external,                          
  ul li a.link-mail,                                                            
  ul li a.link-web,                                  
  ul li a.link-fax,                                  
  ul li a.link-phone,                                
  ul li a.link-mobil,              
  ul li a.link-download,                                             
  ul li a.link-external,                                                 
  ul li a.link-external-blank                 {padding:  0.25rem 1rem 0.25rem 0.5rem ;}   
                             
  ul li a span                                {color: #333 !important; }                                              
  ul li:last-of-type a                        {margin: 0; border-bottom: 0; }                                               
  ul li a:hover                               {background: #F8F9FA; text-decoration: none;} 

}

@media screen and (min-width: 992px) {
  .quicklinks {                                margin-right: 15px; padding-right: 15px; padding-top: 0; 
    ul                                         {right: auto; left: 0; }
  > div > a                                       {display: none;}
 }
}

