<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:spaceless>
        <f:section name="Header">
            <header id="header" class="{dynheader}" role="region">
                <f:if condition="{top} == 1">
                    <f:render section="top" arguments="{_all}"/>
                    <div class="{headerAreaWrap}"> 
	                    <f:cObject typoscriptObjectPath="lib.header.logo" />
	                    <f:cObject typoscriptObjectPath="lib.header.headerextra" />
	                    <f:render section="navi" arguments="{_all}"/>
	                </div>
                </f:if>
                
                <f:if condition="{top} == 2 || {top} == 0">                
                    <div class="{headerAreaWrap}"> 
                        <f:cObject typoscriptObjectPath="lib.header.logo" />
                        <div>
	                        <f:render section="top" arguments="{_all}"/>
	                        <f:cObject typoscriptObjectPath="lib.header.headerextra" />
	                        <f:render section="navi" arguments="{_all}"/>  
                        </div>
                    </div>
                </f:if>
                
                <f:if condition="{breadcrumbpos} == 1"> 
                    <f:render partial="SpecialMenu/Breadcrumb" section="content" arguments="{_all}"/>
                </f:if>
                
            </header>
        </f:section>


		<f:section name="top">
			<div class="top">
			    <f:cObject typoscriptObjectPath="lib.header.topexta" />
			    <ul id="service_nav" class="{topwrap}">
			        <f:cObject typoscriptObjectPath="lib.header.top" />
			        <f:if condition="{languagemenu}"><f:render partial="SpecialMenu/Language" arguments="{_all}"/></f:if>
			    </ul>
		    </div>
		</f:section>
		
		<f:section name="navi">
		    <f:if condition="{navstyle} == 1">
		        <f:render partial="Menu/StandardNavigation" arguments="{_all}"/>
		    </f:if>
		    <f:if condition="{navstyle} == 2">
		        <f:render partial="Menu/ActiveNavigation" arguments="{_all}"/>
		    </f:if>
		    <f:if condition="{navstyle} == 3">
		        <f:render partial="Menu/BlockNavigation" arguments="{_all}"/>
		    </f:if>
		    <f:if condition="{navstyle} == 4">
		        <f:render partial="Menu/AnkerNavigation" arguments="{_all}"/>       
		    </f:if>
		</f:section>
    </f:spaceless>
</html>