<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">  


        <nav id="subnavigation" class="d-none d-lg-block subnavigation" aria-label="secondary">
            <f:cObject typoscriptObjectPath="lib.navigation.leveltitle" />
            <ul class="submenu">
                <f:for each="{SubMenu}" as="subItem">
                    <f:render partial="Submenu/Elements/SubMenuItem" arguments="{item: subItem}"/>
                    <f:if condition="{subItem.children}">
                        <f:render section="submenu" arguments="{submenu: subItem.children, navexpand : data.navexpand, navexpand: navexpand}"/>
                    </f:if>
                </f:for>                    
        </nav>

    
    <f:section name="submenu">
        <ul class="subsubmenu" aria-hidden="true" aria-expanded="false">
            <f:for each="{submenu}" as="subItem">
                <f:render partial="Submenu/Elements/SubMenuItem" arguments="{item: subItem}"/>
                <f:if condition="{subItem.children}">
                    <f:render section="submenu" arguments="{submenu: subItem.children}"/>
                </f:if>
            </f:for>
        </ul></li> 
    </f:section>
    
</html>