
.icon-list .active   					{background-color: #23F76255;}
.svg-tree-wrapper .node-selected 		{fill: #23F76255;}

.t3-page-column-1   					{background-color: #F8E02622;}
.t3-page-column-2   					{background-color: #62F72322; max-width: 50% !important;}
.t3-page-column-3   					{background-color: #2266F822;}

